[2019-10-14 19:00] RhetTbull opened #1 "Does not work on Catalina / Photos 5.0"
Photos 5.0  on Mac OS 10.15 / Catalina uses an entirely new database format.  osxphotos will not work with Photos 5.0.

[2019-11-18 02:26] RhetTbull commented on #1
Version 0.13.0 provides alpha support for MacOS 10.15 / Photos 5.  I'll continue testing. Let me know if you find any issues.

[2019-11-24 04:30] RhetTbull commented on #1
Photos 5 seems to be working on parity with earlier versions as of 0.14.0.

[2019-11-24 04:30] #1 closed

[2019-11-27 15:25] RhetTbull opened #2 "Handle location (latitude and longitude)"
Does not currently handle location data.
In Photos <= 4.0, this information is in RKVersion.latitude, RKVersion.longitude
In Photos >=5, this information is in ZGENERICASSET.ZLATITUDE, ZGENERICASSET.ZLONGITUDE

[2019-11-27 15:30] #2 closed

[2019-11-27 15:45] RhetTbull opened #3 "PhotoInfo.hasadjustments() does not work for Photos 5.0+ databases"
hasadjustments() always returns None for Photos 5.0+.
Look at ZGENERICASSET.ZHASADJUSTMENTS and ZUNMANAGEDADJUSTMENT in ZADDITIONALASSETATTRIBUTES

[2019-11-28 17:26] RhetTbull commented on #3
Fixed with version 0.14.6

[2019-11-28 17:26] #3 closed

[2019-11-28 17:31] RhetTbull opened #4 "Feature: --version to command line utility"
Add --version option to cmd_line.py

[2019-11-29 02:04] RhetTbull opened #5 "Add external_edit()"
Add flag to indicate if image has been edited in external editor

[2019-11-29 02:06] RhetTbull opened #6 "Add ability to get path of edited version"

[2019-11-29 02:07] RhetTbull commented on #6
Implement with new method or add option to path() edited=True

[2019-11-30 19:34] RhetTbull opened #7 "Feature: for command line and PhotosDB, automatically detect db file if path to library is passed for --db"
It's a pain to pass full path to photos.db.  If passed a folder, code should assume it's a Photoslibrary and try to open photos.db

[2019-12-01 07:10] RhetTbull commented on #6
Done in 0.14.8

[2019-12-01 07:10] #6 closed

[2019-12-01 07:46] RhetTbull opened #8 "Feature: Live Photo interface"
Add interface for Live Photo’s:
livephoto()
path_livephoto()

[2019-12-01 15:01] RhetTbull commented on #5
In Photos 5: ZUNMANAGEDADJUSTMENT, see ZADJUSTMENTFORMATIDENTIFIER
In Photos 4: RKAdjustmentData, see originator and format
values appear to be: com.apple.Photos.externalEdit or com.apple.photo

[2019-12-01 16:15] RhetTbull commented on #5
Added to 0.14.9

[2019-12-01 16:15] #5 closed

[2019-12-01 17:33] RhetTbull opened #9 "Feature: incloud flag"
Add method to determine if photo is in the cloud (cloudstate)
incloud()

[2019-12-02 04:49] RhetTbull opened #10 "Feature: PhotoInfo.export()"
export(destination, usetitle=False, overwrite=False, increment_name=True, add_sidecar = False, edited=False)
destination = filename or folder
if folder, filename automatically created from original_name unless usetitle, then from title
overwrite: overwrite file if name exists
increment_name: add (1), (2)... to end of filename if filename exists
add_sidecar: add JSON sidecar with all details to exp

[2019-12-02 04:50] RhetTbull opened #11 "Feature: exif_data()"
Add PhotoInfo method to get the EXIF data stored in the library.  For Photos 5, appears to be in: ZEXTENDEDATTRIBUTES

[2019-12-02 04:53] RhetTbull opened #12 "Feature: add edited to __str__, to_json"
Add edited flag to PhotoInfo str and JSON output

[2019-12-02 04:54] RhetTbull opened #13 "Feature: add PhotoKit methods"
Add PhotoKit methods wrapped in PyObjC for exporting and accessing metadata from the library (will only work with system photo library)

[2019-12-02 05:01] RhetTbull opened #14 "Feature: add list option to cmd_line"
Add list option to the command line to list all available Photos libraries and show which is the default and if possible, which is
osxphotos list
/Users/smith/Pictures/Photos Library.photoslibrary [*]
/Users/smith/Pictures/Library2.photoslibrary

[*] = default

etc

[2019-12-06 03:04] RhetTbull commented on #4
Update version in setup.py. See this snippet from requests/setup.py:

https://github.com/psf/requests

about = {}
with open(os.path.join(here, 'requests', '__version__.py'), 'r', 'utf-8') as f:
    exec(f.read(), about)

with open('README.md', 'r', 'utf-8') as f:
    readme = f.read()
with open('HISTORY.md', 'r', 'utf-8') as f:
    history = f.read()

setup(
    name=about['__title__'],
    versio

[2019-12-06 14:30] RhetTbull opened #15 "Change: update documentation"
Update README example code with comments & more comprehensive examples of how to use the module.

[2019-12-06 14:34] RhetTbull opened #16 "Change: refactor __init__ into separate files for each class"
osxphotos/__init__.py is getting unwieldy.  Split code into smaller files for each class.

[2019-12-07 04:04] RhetTbull opened #17 "Change: replace logic in cmd_line with any()"
See dump()

[2019-12-07 15:21] #17 closed

[2019-12-08 00:11] #4 closed

[2019-12-08 04:32] #12 closed

[2019-12-08 05:07] RhetTbull commented on #14
/usr/bin/mdfind -name ".photoslibrary"

[2019-12-08 17:14] #14 closed

[2019-12-09 06:24] RhetTbull opened #18 "Feature: add access to shared iCloud libraries"
A few notes:
ZGENERICASSET.ZCLOUDLOCALSTATE
ZCLOUDISMYASSET = 0 (not NULL) appears to be shared Photos not owned by me
photos appear to be /resources/cloudsharing/ when downloaded
directory is /resources/cloudsharing/data/
within folder for each shared album, there's an Info.plist with cloudOwnerEmail, CloudOwnerName, etc
e.g. /Users/rhet/Pictures/Photos Library.photoslibrary/resources/cloudsharin

[2019-12-09 06:29] RhetTbull opened #19 "Feature: make get_system_photo_library() more robust"
Also make it work older MacOS versions.

On Sierra, High Sierra, look at:
~/Library/Containers/com.apple.photoanalysisd/Data/Library/Preferences/com.apple.photoanalysisd.plist

Which appears to list Photo libraries and paths
PHAPhotoLibraryList
Path (dictionary)
-->path
-->version

[2019-12-14 18:29] #10 closed

[2019-12-14 18:40] RhetTbull opened #20 "Feature: add export to cmd_line"
Use new PhotoInfo.export() to add basic export option to command line tool

[2019-12-14 18:48] RhetTbull opened #21 "Feature: provide interface to the detailed faces information in database"
The database contains much detailed info about the people/faces in the photo

[2019-12-14 19:49] RhetTbull opened #22 "Change: change name() to title()"

[2019-12-14 19:51] RhetTbull commented on #22
In PhotoKit, deprecate name() and add title() to better match what Photos uses and XMP

[2019-12-14 19:55] RhetTbull opened #23 "Change: rename to_json() to json()"
json() probably makes sense and is more concise

[2019-12-14 19:57] RhetTbull opened #24 "Documentation: add TOC to README"
Add table of contents to README

[2019-12-14 20:34] #24 closed

[2019-12-20 15:31] gdelab opened #25 "Feature : support other OS"
This library could prove quite useful when transferring a library from Mac to Windows or Linux, for instance to organize the pictures, keep their metadata (including albums), etc.

Is it something that could be feasible, or does this code use Apple proprietary code or something like that ?

[2019-12-21 05:51] RhetTbull commented on #25
It would be feasible to port the code to run on non-Mac platforms but would take some work.  The core of the module would run fine on Windows/Linux as it uses sqlite3 to read the Photos database and extract metadata.  However, there is some Mac-specific code in the helper functions (e.g. find the default Photos library, etc.) but this code wouldn't be needed on another platform as you would have t

[2019-12-21 06:24] RhetTbull opened #26 "Change: replace PhotoInfo methods with properties"
It might be better to replace all the PhotoInfo methods with properties

[2019-12-21 16:12] #16 closed

[2019-12-21 21:34] RhetTbull commented on #26
Completed with version 0.17.0

[2019-12-21 21:34] #26 closed

[2019-12-21 21:35] RhetTbull commented on #23
Done

[2019-12-21 21:35] #23 closed

[2019-12-21 21:35] RhetTbull commented on #22
Done with 0.17.0

[2019-12-21 21:35] #22 closed

[2019-12-22 06:52] #7 closed

[2019-12-22 16:41] RhetTbull opened #27 "Feature: add unit tests to CLI app"
The command line interface currently lacks unit tests.

[2019-12-22 22:00] #20 closed

[2019-12-22 23:21] RhetTbull opened #28 "Feature: add --original-filename to export"
export currently uses the current filename, which in Photos 5, is UUID.jpeg -- need an option to force export to use original filename

[2019-12-25 00:51] RhetTbull opened #29 "Change: move export_photo to utils"
Used by both osxphotos CLI and photosmeta

[2019-12-25 01:27] kylebarron opened #30 "pformat is not defined"
Looks like you're using `pformat` here
https://github.com/RhetTbull/osxphotos/blob/098159466e298825f540ebb6cfd8ba667c88a478/osxphotos/photoinfo.py#L91
but you never imported it
https://github.com/RhetTbull/osxphotos/blob/098159466e298825f540ebb6cfd8ba667c88a478/osxphotos/photoinfo.py#L7-L19

[code]

[2019-12-25 01:30] kylebarron commented on #30
Also, for this photo, it looks like `path` is None, but `p.ismissing` is `False`

[2019-12-25 08:43] RhetTbull commented on #30
Thanks! I've fixed the missing import.  I've never seen a null path if ismissing is False though I suppose it's possible--I had to make a lot of assumptions about the data used to compute path. It's also possible there's a bug in the code for computing path.  What version of MacOS & Photos are you running?   The code below should dump info about any other photos with a missing path.  If you don't

[2019-12-25 16:19] kylebarron commented on #30
That found 329 results. I exported them to a JSON file to make transferring easier, but apparently Github doesn't allow you to upload files with a JSON extension, so here's a JSON file with a .txt extension:
[export.txt](https://github.com/RhetTbull/osxphotos/files/4000611/export.txt)

I ran this:
[code]

[2019-12-25 17:18] RhetTbull commented on #30
Thanks for additional data.  I'll take a closer look later today.  On quick peek it appears these photos might either be in iCloud (and not on the local disk) or in a shared iCloud album -- in either case, ismissing should be 1 (not null) and path should be None.  It's possible they're in a shared album and on the disk but the code doesn't yet deal with these photos which are stored differently th

[2019-12-25 19:52] kylebarron commented on #30
It's definitely possible that they're in iCloud and not on local disk. I recently got a new computer and Photos still hasn't fully synced. I haven't looked manually  at the filenames to see if I expect them to exist

[2019-12-25 20:29] RhetTbull commented on #30
If photos weren't yet synched from the cloud, _info["remoteavailability"] should have been set to 0 but in your example data, it's null meaning the code to set it never got run.  It would be easier to debug with a copy of your database (~/Pictures/Photos Library.photoslibrary/database/Photos.sqlite) -- if you're willing to share that, you can email me the file or a cloud share link to rturnbull +

[2019-12-25 20:51] kylebarron commented on #30
I emailed you a Firefox Send link

[2019-12-26 00:09] RhetTbull commented on #30
Got the link & the database -- thanks.  I'm able to isolate those 329 results but still working on figuring out why those are different.  I believe those photos are in a shared iCloud library (which aren't currently supported by osxphotos and should have been filtered out).  Can you take a look in your ~Pictures/Photos Library.photoslibrary/ folder and see if these files are present:

resources/cl

[2019-12-26 00:25] kylebarron commented on #30
The first two are present exactly as you've described, i.e. these exist:
[code]
And the latter two don't exist.

The former two are both in a shared album.

[2019-12-26 05:25] RhetTbull commented on #30
I think I've figured this out.  A true fix will mean implementing support for shared albums which I'm now working on but might take a little time.  In the meantime, I've made a temporary fix which should ignore those photos.  The current code will check to see if photo is in a shared album and if so, ignore it when processing the database.  You won't be able to see those photos with osxphotos but

[2019-12-26 16:56] RhetTbull commented on #18
Create test db for shared: create a test iCloud account with a test library then share it (need two accounts to share to each other).

[2019-12-26 16:57] RhetTbull commented on #8
On Photos 4: RKVersion.specialType = 5 or 8 is livePhoto

[2019-12-26 19:19] rpural opened #31 "Command fails after build. Database location error?"
No matter what command or options I specify I get something like the following:

(base) rpn01@R5057499  ~  0 $ osxphotos --db  ~/Pictures/Photos\ Library.photoslibrary/ info
Traceback (most recent call last):
  File "/Users/rpn01/anaconda3/bin/osxphotos", line 11, in <module>
    load_entry_point('osxphotos==0.17.8', 'console_scripts', 'osxphotos')()
  File "/Users/rpn01/anaconda3/lib/python3.7/si

[2019-12-26 19:28] RhetTbull commented on #31
Looks like the error is from yaml.dump() not finding sort_keys option — try this:
`python3 -m pip install --upgrade yaml`
Then try to re-run python3 setup.py install

[2019-12-26 19:32] RhetTbull opened #32 "Testing: add AppleScript to compare uuids in Photos to what osxphotos finds"
See: [PhotosAutomation](https://photosautomation.com/scripting/script-library-01.html) library

[2019-12-27 06:49] RhetTbull commented on #31
Note: You might also try this:
conda update --all

then attempt to install again. If you still have problems, let me know.

[2019-12-27 06:58] RhetTbull commented on #30
I've added support for shared photos/albums in the latest version on github.  v0.18.0 adds the following properties to PhotosDB:
albums_shared
albums_shared_as_dict

and adds the following property to PhotoInfo
shared

The 329 photos in your database with path=None now correctly show up as shared photos and ismissing appears to be set correctly.

[2019-12-27 07:00] RhetTbull commented on #18
v0.18.0 adds support for shared albums but only for Photos 5. I've not been able to figure out how to access shared albums in Photos <= 4

[2019-12-27 07:20] kylebarron commented on #30
Awesome! I really love the library.

[2019-12-27 07:20] #30 closed

[2019-12-27 07:48] RhetTbull commented on #18
Need to add shared to PhotoInfo.json()

[2019-12-27 15:14] RhetTbull opened #33 "Feature: add --output or --fields to CLI"
Add option to specify which fields get printed in CLI dump or query commands

e.g.
--field=filename
--field=path
etc..., description, title, keywords, persons, albums, missing, uuid, adjustments, date, favorite, edited, edited_path, shared,

[2019-12-27 21:12] rpural commented on #31
I think that the root cause of the original problem was that the photo library was empty. The computer wasn't logged in to my iCloud account. I haven't gotten back to testing with a photo in the database, but this may be enough to locate where in the code to test the edge case of an empty library and stop the program more gracefully.

[2019-12-27 21:27] RhetTbull commented on #31
Thanks -- I'll build a test case for empty library and see if I can replicate your error.

[2019-12-27 22:09] RhetTbull opened #34 "Change: Open database read-only"
osxphotos currently copies the Photos database to a temporary file before opening it because Photos runs a background process (photoanalysisd) that maintains a lock on the file even if Photos is closed.  It might be possible to avoid the copy (Which takes time for large databases) by opening read-only.

See https://docs.python.org/3/library/sqlite3.html#sqlite3.connect

db = sqlite3.connect('file:

[2019-12-28 00:12] RhetTbull commented on #31
I built a test case for empty database but was not able to replicate your error.  In my test case, the empty database opens fine and returns 0 results as expected.  See:

https://github.com/RhetTbull/osxphotos/blob/588ba4b9cba649346afa890cb9757c8cb6243f89/tests/test_empty_library_4_0.py#L87-L92

Your error looks like a PyYAML error related to sort_keys which was added to PyYAML in 5.1 (https://git

[2019-12-29 08:28] RhetTbull commented on #8
Also, need to look at burst photos

[2019-12-29 08:29] RhetTbull opened #35 "Feature: add search by filename to CLI"

[2019-12-29 09:22] RhetTbull opened #36 "Testing: add test for export movie"

[2019-12-29 16:16] RhetTbull opened #37 "Bug: look at ismissing and PNGs on Photos 5"
Most PNG files show as ismissing in my library.  If selected and request "export original" Photos downloads them and they show up but if just editing, they do not.  They seem to have 3 derivative files including one in "masters"...does Photos only keep the jpeg version unless export? And if so, should ismissing be False and we return the photo in masters?

[code]

After export:
[code]

[2019-12-29 16:22] RhetTbull opened #38 "Bug: ismissing not always working for cloud shared movies"
See:
```[I] ➜ osxphotos query --only-movies --album Family --not-missing```

[code]

[2019-12-29 18:28] RhetTbull opened #39 "Bug: path_edited does not check ismissing"
path_edited checks to see if file exists and warns if not but it shouldn't do this if we know the file is missing

[2019-12-29 18:42] RhetTbull opened #40 "Feature: Add support for iPhotos databases"
iPhotos database appears to be similar in structure to Photos <=4 database but in multiple db files.  See [photo-export](https://github.com/patrikhson/photo-export)

[2019-12-30 16:29] RhetTbull opened #41 "Feature: add export_by_album.py to examples"
Add example showing how to export by album name

[2020-01-01 05:43] RhetTbull opened #42 "Testing: add tests for burst and burst_photos"
PhotoInfo.burst and PhotoInfo.burst_photos need test cases

[2020-01-01 05:44] RhetTbull opened #43 "Docs: Add man page for CLI"
See [click-man](https://github.com/click-contrib/click-man)

[2020-01-01 14:54] #32 closed

[2020-01-01 15:22] RhetTbull opened #44 "Feature: add __len__ to PhotosDB"
Should return tots number of items in the data base

[2020-01-02 15:48] RhetTbull opened #45 "Change: consider storing imageDate as ISO format string instead of datetime object"
This would make it easier to directly serialize PhotoInfo._info as JSON, etc.  Is there a performance impact?

[2020-01-02 16:17] RhetTbull opened #46 "Feature: add --created-after, --created-before, --modified-after, --modifed-before to filter by time to osxphotos"

[2020-01-02 16:18] RhetTbull commented on #46
--created-after, --created-before, --modified-after, --modified-before to filter by time

[2020-01-04 16:36] RhetTbull opened #47 "Change: path should return None if file is not actually present"
Return None if file not actually present --  would match behavior of path_edited and path_live_photo

Also, check to see if file present even if ismissing == True

[2020-01-04 19:39] RhetTbull commented on #42
Also need test for Live Photos

[2020-01-04 19:40] #8 closed

[2020-01-07 16:52] RhetTbull opened #48 "Feature: add import group to PhotoInfo"
Reading and storing import group would allow scripts that use osxphotos to avoid reprocessing photos that were previously imported if that was important to user.

[2020-01-08 11:39] mwort commented on #18
Hi RhetTbull, great enhancement, thanks. I was wondering if it would it be possible to not only support export of shared iCloud items but also those that are not shared but only residing on iCloud? Currently, a "Skipping missing photo" warning is given and when I download the photo (i.e. open it), the export succeeds.

[2020-01-08 13:03] RhetTbull commented on #18
@mwort — yes, I think this is possible. Issue #13 to add PhotoKit support would enable this. I’m stuck on one of the implementation details but will work as time permits. Currently, osxphotos reads the Photos library and can copy files already present on disk but doesn’t directly interact with Photos or PhotoKit (Apple’s approved programmatic interface to Photos).  Using PyObjC, I should be able t

[2020-01-08 13:11] RhetTbull opened #49 "Feature: add AppleScript to export missing photos"
Currently, if a photo is missing due to not being downloaded CLI export will skip and print warning. Add an option, something like, --download-missing, that would use AppleScript to attempt a download from iCloud. Eventually this should be handled with a native PhotosKit interface but AppleScript would be fairly easy to implement.

[2020-01-08 13:17] mwort commented on #18
Sounds good, I'm happy run tests.

[2020-01-10 02:34] RhetTbull opened #50 "Feature: add path_rendered, path_thumbnail"
It would be useful to be able to access thumbnails as well as the rendered images (e.g. for screenshots where original PNG is not typically stored by Photos on the Mac but a high resolution rendered JPEG is).   This would also give user an option to export rendered JPEG (add to PhotoKit.export?) if the original was missing.

[2020-01-10 02:59] RhetTbull opened #51 "Feature: add XMP Sidecar option to export"
Export has option to write JSON sidecar readable by EXIFTool.  Would be good to have XMP sidecar option too, readable by Lightroom, etc.

[2020-01-10 16:52] RhetTbull commented on #9
This is needed to implement #49 applescript export causes Photos to hang with modal dialog if attempt to export photo that’s missing and not in cloud

[2020-01-11 15:33] RhetTbull opened #52 "Change: reduce size of Test-Cloud library"
The Test-Cloud-10.15.1 library used to test specials (live, burst, slow-mo, etc) is unnecessarily large due to video sizes

[2020-01-11 19:12] #9 closed

[2020-01-12 16:52] RhetTbull commented on #18
@mwort I've added a "--download-missing" option to the command line export tool. Give it a try and see if this does what you need. I've not down a lot of testing yet but in initial testing, seems to work.  Note: current implementation uses applescript to interact with Photos so it will ask for permission to interact with Photos first time you run it  then Photos will stay in foreground while the s

[2020-01-12 18:59] RhetTbull opened #53 "Change: add check to use_photos_export to verify using default library"
use_photo_export only works on the default library

[2020-01-14 12:11] mwort commented on #18
Thanks @RhetTbull, that works for me. I encountered two smaller issues after upgrading to get this to work (apologies for not opening separate issues for that, just for you to consider):
- got a `TypeError: __init__() got an unexpected keyword argument 'hidden'` error with click 6.7 installed, i.e. you might want to stipulate `click>=7.0` in setup.py
- for some reason none of the CLI commands work

[2020-01-14 13:38] RhetTbull opened #54 "bug: get_last_library_path does not always return last library"
In some cases, get_last_library_path will fail if Photos hasn't already been opened.  I don't know if this is an issue with permissions or if /Library/Containers/com.apple.Photos/Data/Library/Preferences/com.apple.Photos.plist is missing.

Also, it will always fail on a "clean install" account where Photos has never been opened.

In these cases, should it return ~/Pictures/Photos Library.photoslib

[2020-01-14 13:41] RhetTbull commented on #18
@mwort Thanks for the feedback.  I updated setup.py to specify min required version of Click.

On the second point, I opened issue #54 as a new bug.  osxphotos reads the file ~/Library/Containers/com.apple.Photos/Data/Library/Preferences/com.apple.Photos.plist to find the last opened Photos library but this must have failed in your case.

Which OS are you running?  Also, had you previously opened

[2020-01-14 21:31] mwort commented on #54
I can't actually reproduce my initial error with this but my first thought was it expects the `~/Pictures/Photos Library.photoslibrary` to exist, which did exist already when the error first occurred. IMHO I actually think the use of the last opened library is somewhat inconsistent because the result of osxphotos depends on the use of the app. I would suggest to always default to the user standard

[2020-01-14 21:42] mwort commented on #54
Another example where this going to fail if you trash the last opened lib btw. I just think this behaviour is more hassle than it is useful.

[2020-01-15 05:42] RhetTbull commented on #54
I agree the behavior of opening last library could be ambiguous and lead to unexpected behavior.  I'll change the code to require the library be explicitly specified.  Ideally, I'd use the system library as the default as you suggest but I've not been able to find a way to reliably do this.  On Catalina, the system library seems to be specified in ~/Library/Containers/com.apple.photolibraryd/Data/

[2020-01-15 05:45] RhetTbull commented on #54
Another option is to have the CLI print a list of all available libraries (e.g. as is done by `osxphotos list`) if the user does not specify one explicitly on the command line.

[2020-01-15 09:17] mwort commented on #54
Sounds good to me. If `--db` not parsed, why not do:
1. try to determine system lib. If that fails, ...
2. try to list used libs (with a blocking prompt?). If that fails, ...
3. require `--db` to be parsed.

I am using Catalina too (and High Sierra on my old machine) and I thought the `~/Pictures/Photos Library.photoslibrary` was universal.

[2020-01-16 13:45] RhetTbull commented on #54
I've been playing with this.  I've got the following behavior prototyped:
1. --db can be passed before or after the command e.g. `osxphotos --db ~/Pictures/Foo.photoslibrary info` or `osxphotos info --db ~Pictures/Foo.photoslibrary`
2. The path to the photos library can be specified as an argument after the command without using --db: `osxphotos info ~/Pictures/Foo.photoslibrary`  This seems more

[2020-01-18 00:35] RhetTbull commented on #54
Version 0.22.0 implements this new behavior with one exception to above -- if a database path isn't passed either as argument or --db option, osxphotos will list available databases but does not block with a prompt

[2020-01-18 16:22] RhetTbull commented on #37
I don't think this is a bug--Photos seems to never download original PNG unless needed for export or edited.  Instead it uses the rendered version.  See #50

[2020-01-19 21:13] mwort commented on #54
Cool, works well. How come you ditched the search for a "default" library? The behaviour listed in 3) make sense except for 3.i to keep it deterministic.

[2020-01-19 21:30] RhetTbull commented on #54
@mwort Mainly just to make it more clear which library is being operated on.  I can't reliably find the system library and you found at least one case where default library didn't work. If you think it makes sense to keep search for default library I'm happy to put it back in.  Another option might be to add a "--system-lib" and "--last-lib" options so you could explicitly say "look for the last l

[2020-01-20 02:15] RhetTbull commented on #54
What about if --db or photo_library not specified, attempt to find default library then print a prompt saying something like: "Found Photos library at ~/Pictures/Photos Library.photoslibrary -- use this one (Y/n)?" If user says Y, use it, if N, then list the other libraries?  What I'd like to avoid is user operating on the wrong library by accident.

[2020-01-20 06:20] RhetTbull opened #56 "Feature: add --any option to CLI query/export"
add "--any" to search any field (e.g. keyword, description, title contains "wedding") (add case insensitive option)

[2020-01-20 09:30] mwort commented on #54
Yes I agree that would be useful although I would think that if a system library can be found, it should still operate on it without prompt (with a warning to stderr maybe). That would make it easier for the 90% of (Catalina) users.

[2020-01-20 16:29] RhetTbull commented on #54
I just pushed a new update that implements # 3 above: looks for last library, then system library, then ~/Pictures/Photos Library.photosdb. As you suggested, it will print out a statement to stderr listing the library being used

[2020-01-20 16:32] #28 closed

[2020-01-20 16:32] #15 closed

[2020-01-20 16:33] RhetTbull commented on #27
added test_cli.py in tests -- only has a few tests so far, but it's a start.

[2020-01-20 16:44] RhetTbull commented on #45
Addition of from_date, to_date to PhotosDB.photos means this issue would likely add a performance hit.  May instead add a serializer for _info for debugging use.

[2020-01-20 21:41] mwort commented on #46
Hadn't seen this before submitting #57. I slightly prefer the argument names you suggested and the modified versions could be implemented the same way.

[2020-01-20 22:08] RhetTbull commented on #46
I haven't yet provided a public interface to modified date.  It's pulled out of the database and stored in _info["lastmodifieddate"] but there's no public property as there is for PhotoInfo.date.  Note: currently, if lastmodifieddate is null (e.g. photo has not been modified since import), I set lastmodifieddate to imagedate (ie. creation date).  Would need to think about how that affects a search

[2020-01-21 06:18] RhetTbull commented on #46
For modified, need to verify timezone / offset is the same as imagedate. I think this is the case as there doesn't seem to be a second timezone offset listed in the database.

[2020-01-22 05:26] RhetTbull commented on #46
Thought experiment: toying with the idea of implementing this (in PhotosDB.photos) as a created_range and modified_range in form: created_range = [start,stop] and either start or stop could be None.  For example:
To get photos after 31 Dec 19 00:00:00 but before 7 Jan 20
[code]

To get photos after 21 Jan 20:
[code]

To get photos before 31 Dec 19:
[code]

This seems cleaner than having 4 addition

[2020-01-25 18:34] #52 closed

[2020-01-27 04:17] #51 closed

[2020-01-27 05:28] #49 closed

[2020-01-27 05:31] RhetTbull opened #59 "Change: Update temp file handling to use TemporaryDirectory"
Update temp file handling in PhotosDB to use [tempfile.TemporaryDirectory](https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryDirectory) -- this would make clean-up easier (automatic) vs the manual cleanup currently done in _cleanup_tmp_files()

[2020-01-27 05:32] RhetTbull opened #60 "Feature: expose "special" categories like panorama, selfie, etc."
These are currently processed in _process_database4/5 but not yet publicly exposed with properties.  Also, selfie needs work in _process_database4

[2020-01-27 19:28] RhetTbull opened #61 "Feature: Add --albums-as-keywords option to export"
Add --albums-as-keywords to CLI export which would treat album names as keywords for purposes of generating JSON & XMP sidecar files.  See similar feature in photosmeta

[2020-01-28 13:20] #59 closed

[2020-01-30 13:38] #34 closed

[2020-02-01 16:35] RhetTbull opened #62 "Feature: add date_added property"
add date_added that corresponds to when the photos was added to Photos
Look at ZGENERICASSET.ZADDEDDATE (Photos 5)
and
RKImportGroup.ImportDate (Photos 4)

[2020-02-01 16:52] RhetTbull commented on #46
The more I think about this, the more I like the idea of using a range where start is inclusive and end is exclusive.  This matches python range() behavior but also seems to fit how I'd think about searching for date. For example, to find all photos created on the days 2019-04-14 and 2019-04-15, user would have to actually search for to_date 2019-04-15T23:59:59.999 as just searching for "2019-04-1

[2020-02-01 22:38] RhetTbull opened #63 "Change: use types.SimpleNamespace for _info"
The info dict created in process_database is getting unwieldy due to number of fields and non-uniform naming convention of fields (tied to photos.db column names)

SimpleNamespace would make maintenance easier and code easier to read

[2020-02-06 10:39] mwort opened #64 "Export of Live Photo with --download-missing leads to a movie file with jpg extension"
If you export a live photo with the `--download-missing` flag, you end up with a seemingly corrupt file with a jpeg/JPG extension. exiftool will tell you it's a mov file and if you change the extension you see the movie file of the Live Photo. The actual photo is missing. It works as expected with the `--export-live` flag though (IMHO `--export-live` should be the default as it is with Photos as w

[2020-02-06 13:52] RhetTbull commented on #64
I found the problem but likely won't have time to implement a fix until the weekend.  The issue is in utils.py _export_photo_uuid_applescript:
https://github.com/RhetTbull/osxphotos/blob/1e013b6802e49e26ec5a94eb702e841b2eb68395/osxphotos/utils.py#L367-L372

I assumed Photos only exported a single item so took the first item from the glob (see comment in line 369!)  Indeed, if exporting a live phot

[2020-02-08 06:21] RhetTbull commented on #64
@mwort I think I've fixed the issue with `--download-missing` and live photos.  Whether you use `--download-missing` or not, you'll need to use `--export-live` if you want to also export the associated .mov files.

[2020-02-14 21:35] AaronVanGeffen commented on #21
I would love an export option for this information as well. Perhaps they could be added as EXIF keywords in the photos themselves?

[2020-02-14 21:55] AaronVanGeffen opened #65 "Feature: allow specifying export directory format"
The `export` command already provides the option `--export-by-date` to export photos to directories based on the photo's date created, e.g. `DEST/2019/12/20/photoname.jpg`.

I would like to request this directory format be customisable to allow for formats like `DEST/2019/2019-12-20/photoname.jpg`. Ideally, the formatter would allow for locations (city, country?) as well, to allow for exporting st

[2020-02-15 01:26] RhetTbull commented on #21
@AaronVanGeffen the names of the people in the images are already included in the export for both JSON and XMP (stored in XMP:Subject and IPTC:PersonInImage).  I am also working on an ExifTool interface to directly write this and other metadata to the image upon export.  This issue (though written very vaguely!) is referring to the detailed information such as the actual face regions and character

[2020-02-15 01:34] RhetTbull commented on #65
@AaronVanGeffen I like this idea and I've been thinking about how to allow some sort of templating system for exporting not only directory names but also the image name.   As for location, osxphotos does not currently provide access to the location name.  I see your script does get location data for older databases but Photos 5 stores location data in binary blobs and I haven't had time to reverse

[2020-02-15 02:15] RhetTbull commented on #65
Thinking about this... I already use [mako](https://docs.makotemplates.org/en/latest/usage.html#using-file-based-templates) templating system for writing the XMP sidecars.  It would be possible to use this to allow the user to specify filename or directory using something like:

`osxphotos export ~/Desktop/export --filename="${photo.original_filename}_${photo.date}" --directory="${photo.date.year}

[2020-03-01 23:01] gdelab commented on #25
Hey !
Sorry I left this personal project aside for a while.
I've changed computer from Mac to Windows, so I'd like to transfer my photo library as well.
I had spent a lot of time organizing everything in albums, and marking faces. I would like to keep at least my albums, and I thought your project could help me do that, by creating directories in windows for each album, and put symbolic links to t

[2020-03-02 00:20] RhetTbull commented on #25
@gdelab it would take some work but this is possible. I’ve not worked on this project much lately due to being too busy but will look into separating the Mac-specific code out when I have time. If you have access to a Mac, it would be relatively easy to write a small script to do what you want (e.g. symlink photos into albums) — for example onto an external drive that you could then copy to your W

[2020-03-08 00:57] stogs opened #66 "smart albums?"
Just curious if there is any way to extract images tied to a smart album.

[2020-03-08 01:34] RhetTbull commented on #66
@stogs currently it’s not possible to access smart albums. Two possible work arounds:
1. In Photos, copy the photos from the smart album to a regular album. You could then export just those photos using  -- album
2. You can use the various export options to match the search criteria in the smart album to just export those

[2020-03-08 02:41] stogs commented on #66
@RhetTbull  thanks for the ideas and the quick reply.  I will try those options.

[2020-03-08 02:41] #66 closed

[2020-03-08 19:52] #60 closed

[2020-03-08 20:05] RhetTbull opened #67 "Feature: add media type specials to CLI"
Add portrait, selfie, etc to query & export to CLI

[2020-03-10 05:18] #67 closed

[2020-03-10 13:07] RhetTbull opened #68 "Feature: add media type specials to CLI query output"

[2020-03-13 03:12] #68 closed

[2020-03-13 14:51] RhetTbull opened #69 "Bug: remove activate from AppleScript download"
The AppleScript used by _export_photo_uuid_applescript tells Photos to activate which makes the machine basically useless during a large export.  Should be able to do this in the background by removing activate from the script

https://github.com/RhetTbull/osxphotos/blob/f1ade92e9804e49330e8175dc831e91049f248b5/osxphotos/utils.py#L340-L350

[2020-03-13 14:59] RhetTbull commented on #65
I’m working on an implementation using a simple roll-my-own template system.  I experimented with both and decided that using a full template engine like Mako was overkill and would be overly complicated for users who weren’t programmers but just wanted to use the CLI.  Current thoughts on implementation are something like this:

--directory = “{yyyy}_{yy}-{mm}-{did}”
--filename = “{original_name}

[2020-03-13 15:16] AaronVanGeffen commented on #65
That sounds like it would certainly suffice for most purposes. I agree such formatting codes would be less intimidating, too. Having some description in addition to dates would be nice, but probably best left for a future extension.

[2020-03-13 15:32] RhetTbull commented on #65
@AaronVanGeffen I’m planning on providing access to photo title, description, as well.  I’m also torching with the idea of allowing multi-valued attributes like keywords and albums to allow a photo to be exported to multiple locations or with multiple names (but use hard links to avoid duplicate files).  E.g. you could do something like this to export to albums:
--directory “{album}” and if photo

[2020-03-13 15:35] AaronVanGeffen commented on #65
Sounds like a good feature; I'm sure some would appreciate that. However, personally, I don't make a lot of use of albums. Instead, I'd really like to use the dominant location or 'moment name' for exported folders.

[2020-03-13 16:25] RhetTbull commented on #31
PyYAML >= 5.1.2 dependency added to setup.py and requirements.txt

[2020-03-13 16:25] #31 closed

[2020-03-13 16:27] RhetTbull opened #70 "Feature: provide access to location name"
Provide access to reverse lookup location information either by photo or moments.

[2020-03-13 16:28] RhetTbull opened #71 "Feature: provide access to moment names"
Provide means to access the “Moment” a photo belongs to

[2020-03-13 16:52] RhetTbull opened #72 "Bug: Slomo videos likely are not being exported correctly"
See code here and verify slomo videos are properly exported:

https://github.com/doersino/apple-photos-export/blob/d831ea6f8ac49019f2adb3a4753503343aa71780/apple-photos-export.py#L450-L460

[2020-03-13 16:56] RhetTbull opened #73 "Feature: Add HEIC to jpeg conversion option for export"
See
https://github.com/doersino/apple-photos-export/blob/d831ea6f8ac49019f2adb3a4753503343aa71780/apple-photos-export.py#L290

[2020-03-13 17:02] RhetTbull opened #74 "Change: make time delta a constant in PhotosDB"
Time delta between Apple epoch and Unix epoch is calculated in process_database even though it’s a constant — just add the total seconds to _constants.py

https://github.com/RhetTbull/osxphotos/blob/f1ade92e9804e49330e8175dc831e91049f248b5/osxphotos/photosdb.py#L438

[2020-03-13 17:06] RhetTbull commented on #70
See this code for location info for orders DBs:
https://github.com/AaronVanGeffen/ExportPhotosLibrary/blob/0fa41d75ea115614792cc0526acf1646c9df69dd/export_photos.py#L149

[2020-03-14 13:58] #69 closed

[2020-03-14 14:02] RhetTbull opened #75 "Bug: --download-missing doesn't work right with bursts"
--download-missing will copy all bursts images to a single exported file, Photos exports all the burst images not just the selected one

`python -m osxphotos --debug export ~/Desktop/export --download-missing --exiftool --uuid 302C1FA8-FEAB-4F4A-9632-DCBEC328847A --original-name`

`2020-03-14 06:54:53,560 - DEBUG - photosdb.py - 2072 - photoinfo: [osxphotos.PhotoInfo(db=osxphotos.PhotosDB(dbfile='

[2020-03-14 14:47] RhetTbull opened #76 "Bug: help badcommand results in error"
`osxphotos help BAD_COMMAND_HERE` results in KeyError exception. Should catch this and print a more helpful help message.

`Traceback (most recent call last):
  File "/Users/rhet/anaconda3/envs/osxphotos/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/Users/rhet/anaconda3/envs/osxphotos/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_g

[2020-03-14 15:13] gabhubert opened #77 "path for templates directory incorrectly set in the context of sidecar_xmp usage?"
First of all thanks so much for this, it was a blessing to find it as I'm gearing up to export ~750GB to make the leap to Lightroom.

In making use of the osxphotos module, when using `sidecar_xmp=True` I got the error:

I fixed it by searching for and grabbing the `templates` folder from my local osxphotos repo but I wonder of the path is somehow getting set incorrectly? Apologies if it's somethi

[2020-03-14 16:01] RhetTbull commented on #75
Partial fix in 0.22.16 to ensure right primary image is exported but ignore burst images. Need to refactor _export_photo_uuid_applescript as a method of PhotoInfo so it can access info on bursts.  Also need to re-think filestem param on _export_photo_uuid_applescript to handle multiple burst images.

[2020-03-14 16:02] RhetTbull commented on #77
Thanks for the bug report. How did you install osxphotos? (e.g. from github with `python setup.py install` or with pip from pypi?)

[2020-03-14 16:03] RhetTbull commented on #77
@gabhubert Also, were you using the command line interface or writing your own export code?

[2020-03-14 16:18] RhetTbull commented on #77
@gabhubert I think I fixed this: setup.py was not configured to pull in the template files from MANIFEST.in.  Please pull 0.22.17 from github or pypi and see if that fixed the problem.

[2020-03-14 16:30] gabhubert commented on #77
I was writing my own export code on top (to keep the album structure as a file system in the export). Yes using setup.py

[2020-03-14 16:46] RhetTbull commented on #77
I've not had opportunity to test on a library as large as yours--let me know if you encounter any other issues!

[2020-03-14 17:04] gabhubert commented on #77
Yep—I'm definitely building unit test firsts :) I'll keep you posted.

Just pulled 22.17, I'll let you know (but as I said it worked already for me by copying the templates folder so I don't expect to observe a change in behaviour

[2020-03-14 17:08] gabhubert opened #78 "Are edited photo partially corrupted on export?"
I'm testing out the photos that are exported. One test I ran was to re-upload to Photos a photo that had been edited (ie .hasadjustments=True) and then been exported. I get this message in Photos:

<img width="627" alt="Screenshot 2020-03-14 at 16 30 49" src="https://user-images.githubusercontent.com/998689/76686808-900c5200-661e-11ea-9eae-c3f08af78bcd.png">

And it seems the photo can no longer b

[2020-03-14 18:49] RhetTbull commented on #78
It's unlikely the edited photo is actually corrupt as on export, the photo is copied (using `/usr/bin/ditto`) directly out of the Photos library.  It's possible there's some metadata in the image that Photos detects and causes Photo to associate this image with an adjustment ID which it can't find.

Which version of MacOS are you using? How did you re-import into Photos (e.g. dragging it in, using

[2020-03-14 19:31] gabhubert commented on #78
- Catalina 10.15.3
- Photos 5.0 (131.17.170)
- replicated with drag + drop and with file > import

Great; I sent you 2 examples via email!

[2020-03-14 19:48] RhetTbull opened #79 "Feature: add --quiet mode to CLI"
current CLI output is noisy but not overly readable.  --quiet and a well implemented --verbose would allow toggling of verboseness and make output more useful.  Also, maybe a --noprogress to toggle progress bar
 e.g.:
`Cloud asset or missing from cloud
  [###---------------------------------]    8%  03:04:04Skipping missing BC10EEB3-D194-417E-8895-3A5B4D8F68E9.JPG: not iCloud asset or missing from

[2020-03-14 19:50] RhetTbull opened #80 "Bug: --download-missing seems to crash Photos frequently on 10.15"
[code]

[2020-03-14 19:51] RhetTbull commented on #80
Need to try on other MacOS versions.  This was working when originally implemented.  Also, maybe need to add a re-try if crash detected.

[2020-03-14 20:19] RhetTbull commented on #78
Thanks.  I've replicated the problem and found the issue.  Yes, the file is technically corrupt because it's really a jpeg not a CR2.  There's a bug in the export code that causes the edited image (which Photos stores as jpeg render of the raw image) to be exported with CR2 extension.  I don't use RAW images so didn't have a test case for this.  I'll work on a fix and update the test suite.  I did

[2020-03-14 21:23] gabhubert commented on #78
Woot!

On Sat, Mar 14, 2020 at 9:19 PM, Rhet Turnbull <notifications@github.com>
wrote:

[2020-03-15 17:20] RhetTbull commented on #78
I think I've fixed this.  There were 2 issues, one of which may require change to your code.

1. the command line client would sometimes use the wrong extension when exporting edited photos (fixed).
2. PhotoInfo.export() takes an optional filename argument. If provided, export would use the filename and extension provided regardless of the actual extension of the file being exported.  Sometimes, t

[2020-03-15 18:40] RhetTbull opened #81 "PhotoInfo.export() -- add bursts to export bursts?"
Also check behavior of _export_photo_uuid_applescript for bursts.  I don't think burst=True is working correctly.

[2020-03-15 18:49] RhetTbull commented on #79
export and query have a --verbose mode but it's not very readable

[2020-03-15 18:49] #77 closed

[2020-03-16 07:09] RhetTbull commented on #70
I've done some work on reverse engineering this. For Photos <= 4.0 it's fairly straightforward but for Photos 5 will take some work.  In Photos 5, the location data is stored as a binary plist blob in `ZADDITIONALASSETATTRIBUTES.ZREVERSELOCATIONDATA`.  This can be read with plistlib (but apparently only works on Python 3.8 due to some feature in the plist that causes earlier versions to crash).

T

[2020-03-16 07:14] RhetTbull commented on #70
For Photos <= 4, the data is in the database which makes it easier.  First get the placeID for the RKVersion.modelID then use those values to lookup place data from RKPlace

[code]

[code]

Produces:

1 Point Fermin Park
2 San Pedro
3 Los Angeles
4 California
5 United States

[2020-03-16 13:53] RhetTbull commented on #72
Update: At least on Photos 5, the videos do seem to be correct. Need to explore above code and verify the videos are being exported correctly on Photos <= 4

[2020-03-21 14:53] RhetTbull commented on #70
OK, got this working for Photos 5.  The ZREVERSELOCATIONDATA is a binary plist produced by NSKeyedArchiver.  [bpylist2](https://github.com/xa4a/bpylist2) did a splendid job of unarchiving this data.  Now working on Photos 4 implementation.

[2020-03-21 18:07] RhetTbull commented on #70
@AaronVanGeffen version 0.23.0 adds a `places` property to PhotoInfo.  See the README.md for full description.  places returns a `PlacesInfo` object that provides access to all the underlying reverse geolocation data.  **Note**: this adds a new dependency [bpylist2](https://pypi.org/project/bpylist2).  If you're running Python 3.6 or 3.7, you'll need bpylist2 == 2.0.3, if using Python 3.8, you can

[2020-03-21 18:21] AaronVanGeffen commented on #70
Cheers, I’ll test it out soon!

[2020-03-22 00:47] RhetTbull opened #82 "Improve __str__ representation for PhotoInfo"
Current __str__ representation is lacking for PhotoInfo, also need to add PlaceInfo

[2020-03-22 02:07] RhetTbull commented on #71
Started working on this but will take some time.
For Photos5:
ZGENERICASSET.ZMOMENT is foreign key for ZMOMENT.Z_PK
The data in ZMOMENT seems fairly straight forward:

ZMOMENT Table:

For Photos 4,
RKVersion.momentUuid is key to RKMoment.
RKMoment Table:

RKMoment seems less straightforward.  The place data is stored in a blob as a binary plist which I'm hoping is similar to the reverse geolocatio

[2020-03-22 16:52] RhetTbull commented on #65
@AaronVanGeffen initial version of this feature is implemented in 0.23.3.  command line export command has a new option --directory that allows you to specify the output directory name based on a templating system: e.g.
`osxphotos export ~/Pictures/export --directory "{created.year}/{place.name}"`

See `osxphotos help export` for full details on the templating system. I've not yet extended this to

[2020-03-22 18:38] RhetTbull commented on #41
@floco I added export_by_albums.py to examples

[2020-03-22 18:38] #41 closed

[2020-03-22 20:15] floco commented on #41
That's great :-) thanks !

[2020-03-23 14:55] RhetTbull commented on #65
I've re-written the very basic MVP template engine that is in 0.23.3 to allow per-item substitution in case of None value. E.g. if item doesn't have reverse geolocation data, you could do this:

`--directory "{created.year}/{place.name,NoLocation}"`

Anything after the , gets used if the value is None.  This can be specified for each template replacement value.

Still working on the code so it's n

[2020-03-23 18:16] RhetTbull opened #83 "Update PhotoInfo.export() to accept filename w/o extension"
It’s possible to pass an incorrect file extension to export via filename argument. E.g. if original photo was .CR2 and you ask for edited export, you’ll get a .jpeg but it would be named as .CR2 if that’s what you passed in filename.  export() will currently log a warning if it detects a different extension but doesn’t stop you.  Adding a check for filename w/ no extension would allow export() to

[2020-03-23 20:09] AaronVanGeffen commented on #65
Interesting. In the case of `{place.name}`, what level of geographical detail would be used? Country, state, city, street? Would this be finetunable?

[2020-03-23 20:10] RhetTbull commented on #65
Yes, currently, the following are available:
| Substitution | Description |
|--------------|-------------|
|{name}|Filename of the photo|
|{original_name}|Photo's original filename when imported to Photos|
|{title}|Title of the photo|
|{descr}|Description of the photo|
|{created.date}|Photo's creation date in ISO format, e.g. '2020-03-22'|
|{created.year}|4-digit year of file creation time|
|{crea

[2020-03-23 20:16] AaronVanGeffen commented on #65
That looks very detailed! Great work. I take this to mean `{place.name}` from the example is basically the string Photos.app uses, then?

[2020-03-23 20:19] RhetTbull commented on #65
The only place information not directly available in current implementation is the list of names (which are sorted by area) because there are sometimes duplicates and often a different number of these depending on location.    Here's examples of the place.names from my photos:

If you use place.names in the template, it joins all together.  It would take some additional work to give you access to

[2020-03-23 20:21] RhetTbull commented on #65
No, it's the most detailed (local) name in the names list.  E.g. in the names list:

place.name would be 'Japanese American National Museum'.  In Photos, the map info shows '‎⁨Japanese American National Museum⁩, ⁨Los Angeles⁩, ⁨California⁩, ⁨United States⁩' which is a subset. I've not figured out what algorithm Photos uses to build the string it displays.

[2020-03-23 21:22] AaronVanGeffen commented on #65
I see, that makes sense. Thank you for the clarification!

[2020-03-23 21:48] RhetTbull commented on #65
Note to self: This might be helpful in decoding the various place names in Photos:

https://developer.apple.com/documentation/corelocation/clplacemark

[2020-03-24 05:12] RhetTbull commented on #65
Making progress.  I think I've reverse-engineered how Photos constructs the reverse geolocation name it displays in the info dialog so I should be able to provide that (perhaps by changing place.name to return this).  I have also mapped each of the place types in place.names to their meaning so I'll be able to provide direct access to the following (which seem to correspond to the attributes of a

[2020-03-25 14:44] RhetTbull opened #84 "Add --find-orphans option to CLI"
Add option to find orphan photos (if any) -- e.g. those photos that are in the library but not referenced in the database

[2020-03-25 21:32] RhetTbull commented on #65
For Photos <= 4, the type associated with place name is different and there is less information available.  In my database, I've figured out the following for `RKPlace.type`:

- 45: areasOfInterest (The relevant areas of interest associated with the placemark.)
- 44: body of water (includes both inlandWater and ocean)
- 43: subLocality (Additional city-level information for the placemark.
- 16: lo

[2020-03-27 07:27] floco opened #85 "ditto issue with smb drive"
Hello,

First let me start by saying osxphotos is just what I was looking for to replace the old ExportPhotosLibrary I was using before. Great work !

I noticed an issue linked to the usage of ditto and remote samba shares. As it can't copy extended attributes it fails without the norsrc option in utils.py. Would you consider adding this as an export option ?
[code]
also added `import sys` for the

[2020-03-27 14:23] RhetTbull commented on #85
Thanks for alerting me of this issue.  I hadn't considered exporting to non-HFS drives but that's obviously a good use case.  The reason for using ditto was to preserve all metadata and adding --norsrc by default would strip the metadata.  It might be better to to check if destination directory supports metadata and if it does, preserve it, otherwise copy without metadata?  I'll take a look at thi

[2020-03-27 14:59] floco commented on #85
oh yes, without norsrc should definitely remain the default, but perhaps there could be a copy_metadata export parameter. Would be true by default and in case it's false then use the --norsrc or an alternative method to copy.
But you are right ideally the destination share should support xattr. In my case, I have a docker samba exposing exposing a couple of ext4 mounted volumed on a NAS that is co

[2020-03-27 16:14] floco commented on #85
Updated the docker image with latest version that implements those guidelines:
https://wiki.samba.org/index.php/Configure_Samba_to_Work_Better_with_Mac_OS_X
ditto works great now :-) in that case what I suggested might not be required. You were right, better fix the root cause.

[2020-03-27 17:49] RhetTbull commented on #85
Glad you found a solution! I'll keep the issue open while I work on a solution for filesystems that don't support extended attributes.  Some sort of flag to export, as you suggested, would work.

[2020-03-27 21:15] RhetTbull opened #86 "Add option to query/export photos in trash but not yet deleted"
Currently, photos in trash are filtered out by PhotosDB—could pull these in and set intrash flag but only show them in results if explicitly asked for.

[2020-03-27 21:53] #78 closed

[2020-03-28 14:31] RhetTbull commented on #70
See Issue #65 for details on implementation of place names

[2020-03-28 17:11] RhetTbull commented on #65
@AaronVanGeffen I've updated the template system in v0.24.1 to provide access to the detailed place name information. The following fields are all available to specify in the `--directory` option for `osxphotos export`.  Note, some of these changed from what I previously posted here.  You can also now specify a default value in case the substitution value is None.  For example,
`osxphotos export ~

[2020-03-28 19:37] #70 closed

[2020-03-28 19:40] RhetTbull opened #87 "Add "places" command to CLI"
Add a "places" command to CLI to list all places and count of photos from each place. This would function like albums, keywords, persons commands.

[2020-03-28 19:42] RhetTbull opened #88 "Add search by place name to CLI query, export"
--place PLACE to search for PLACE in place.name

Also add place info to query results

[2020-03-28 19:53] RhetTbull commented on #88
also - -no-place to find photos with no reverse geo info

[2020-03-28 21:04] RhetTbull commented on #13
W00T! with release of PyObjC 6.2 I’ve been able to get basic PhotoKit functionality work.  Next steps:
- create a osxphotos/photokit.py interface to get PHAsset representation by UUID
- add a PhotoInfo.phasset property to get PHAsset representation

photokit.py
[code]

- Provide properties for all PHAsset properties such as creationDate, location, etc.
- Add an export() method which uses PHImageMa

[2020-03-30 03:12] RhetTbull commented on #13
Ugh...not so fast.  I hate SIP...I've gotten basic functionality working...some of the time.  It doesn't always work, I suspect due to SIP issues related to Photos access.

The following [gist](https://gist.github.com/RhetTbull/41cc85e5bdeb30f761147ce32fba5c94) includes basic code for fetching a photo by UUID and saving it.  This would be great to add to osxphotos and much faster than the AppleScr

[2020-04-01 03:39] #87 closed

[2020-04-01 03:39] #88 closed

[2020-04-04 21:03] RhetTbull commented on #65
I've update the template system to allow multi-valued template substitutions so the following now work as substitutions for `--directory`: `{album}, {keyword}, {person}`.  This means you can export by album using the following:
`osxphotos export /path/to/export/folder --directory "{album}"`

**Note**: This could result in duplicate copies of photos being exported if a photo belongs to more than on

[2020-04-05 15:25] #76 closed

[2020-04-05 16:12] RhetTbull commented on #85
@floco I've added --no-extended-attributes option to export to address this issue

[2020-04-05 16:14] #85 closed

[2020-04-05 16:19] #65 closed

[2020-04-05 16:20] RhetTbull opened #89 "Add --filename, --filename-edited to CLI to specify filename template"
Extend the template system to support filename template for exported files

[2020-04-05 16:21] #64 closed

[2020-04-05 16:22] floco commented on #85
Perfect 👍 thanks !

[2020-04-05 16:22] RhetTbull commented on #45
I've decided to leave the implementation as is.  Should probably eventually add a json serializer for __info

[2020-04-05 16:22] #45 closed

[2020-04-06 14:04] RhetTbull opened #90 "Add --repair-dates option for export"
Add option to repair dates on export to make file timestamp match either created date for originals or modified date for edited photos if it doesn't already

If --exiftool, would also repair dates in EXIF data

[2020-04-06 14:08] RhetTbull opened #91 "Add --dry-run option to export"
Would tell you exactly what will be exported and to where but not actually do the export

[2020-04-06 14:27] RhetTbull opened #92 "Add --export-by-album option to CLI export"
This can easily be accomplished with --directory "{album}" but as it's a common requested feature, may be easier to also have a CLI option as does --export-by-date

[2020-04-10 01:06] RhetTbull opened #93 "Add support for folders"
Folders appear to be special album types that may have a parent and hold other albums (ZGENERICALBUM.ZKIND)

- Add PhotoInfo.folders
- How to handle nested folders? maybe a multi-level dict:
[code]
- Add to template system so something like "{folders}" produces "folder1\folder2\folder3\album\photo.jpg"

[2020-04-10 16:15] RhetTbull opened #94 "Add test for album "intrash" state"
Don't show album info if album is in trash

[2020-04-11 14:33] RhetTbull commented on #93
Notes on folders and albums from Photos 5 DB:
ZGENERICALBUM.ZKIND indicates type of folder/album
2: normal album
4000: user folder
1507: smart album
1505: shared iCloud (parent folder is NULL)
3571, 3572, 3573 : Photos internal use (progress_sync, etc)

[2020-04-11 20:00] RhetTbull opened #96 "Add --all or --export-all option to CLI export"
To get all version of a photo, you currently need to use --export-edit, --export-bursts, --export-live.  How about a --export-all to get all versions of a photo.  Thanks @jystervinou for suggesting this.

[2020-04-11 20:01] RhetTbull opened #97 "Add option to export .aae files"
.AAE files which I believe contain XML details on edits made in Photos are not currently handled.  Look at including these in export.

[2020-04-12 20:11] RhetTbull opened #98 "Create Template class and add PhotoInfo.template"
Refactor the render_filepath_template code to be a method of PhotoInfo (rationale: photo objects should know how to render their own templates)

[2020-04-12 22:00] RhetTbull opened #99 "Update README.md to include multi-value templates"

[2020-04-13 06:47] RhetTbull commented on #93
Folders now working for Photos 5 in v0.27.4. Still need to implement for Photos <= 4

[2020-04-13 06:56] RhetTbull commented on #93
Need to add folders to PhotoInfo.json as well as CLI output and PhotoInfo __str__

[2020-04-13 08:04] RhetTbull opened #100 "Add export options --update"
Add ability to resume a cancelled/failed export and option to only export files if newer than destination (e.g. update an export)

[2020-04-13 08:26] RhetTbull commented on #100
checkpoint settings in .osxphotos?

[2020-04-13 14:30] RhetTbull commented on #98
e.g.
PhotoInfo.template("{created.year}").render()
.template(template) returns Template object with single method:
render()

Could do things like:
path = photo.template("{created.year}/{album}")
filename = photo.template("{original_name}_{created.yy}")
path.render()
filename.render()

[2020-04-15 14:40] jhfarrell opened #101 "Identify RAW photos with JPEG previews"
If a raw image is in the library and it has a separate jpeg preview file, only the jpeg file is reported by osxphotos.  If the raw image is set as the original, then that version is found.  Either way, the accompanying image is ignored.  Should be a way to identify and report these image pairs.

[2020-04-15 16:26] RhetTbull commented on #101
@jhfarrell thanks for the issue report.  I've been able to replicate the behavior you indicated.  I agree that osxphotos should provide access both the the RAW image and the associated .jpeg.  I'll look into this.

[2020-04-15 16:56] RhetTbull commented on #101
Trying to figure out how to find the associated raw file -- as best as I can tell, it's not referenced by name anywhere in the database.

A few thoughts:
The raw file is in originals with same uuid as the jpeg but has _4 added to end of basename.

[code]

[code]

|ZORIGINALFILENAME | ZDATALENGTH | ZUNIFORMTYPEIDENTIFIER | ZDATASTORESUBTYPE | ZRESOURCETYPE|
|-----|----|-----|----|----|
|IMG_1994.JP

[2020-04-15 17:07] RhetTbull commented on #101
Comparing delta between using jpeg as original (default) and using RAW as original:

[code]

[code]

When "Use RAW as original" selected, `ZORIGINALRESOURCECHOICE = 1`

[2020-04-15 19:14] iwoj opened #102 "sqlite3.OperationalError: no such table: RKFace"
I installed osxphotos via git.

`osxphotos query --keyword Happy --json ~/Pictures/Photos\ Library.photoslibrary
WARNING: Only tested on database versions [6000, 4025, 4016, 3301, 2622] You have database version=5001 which has not been tested
Traceback (most recent call last):
  File "/Users/ian/opt/anaconda3/bin/osxphotos", line 11, in <module>
    load_entry_point('osxphotos==0.27.4', 'console_s

[2020-04-15 19:19] RhetTbull commented on #102
@iwoj  Which version of MacOS are you running?  I'm guessing El Capitan from the error string below. If so, osxphotos does not support this version.  osxphotos has been tested on MacOS 10.12 - 10.15.4

`WARNING: Only tested on database versions [6000, 4025, 4016, 3301, 2622] You have database version=5001 which has not been tested`

[2020-04-15 19:21] RhetTbull commented on #102
Also, what is the version that Photos says when you click Photos | About Photos?

[2020-04-15 19:35] iwoj commented on #102
I'm on OSX 10.15.4 and Photos Version 5.0 (141.19.150)

[2020-04-15 21:14] RhetTbull commented on #102
Interesting--On my machine also with OSX 10.15.4 and Photos Version 5.0 (141.19.150) libraryVersion = "6000" whereas the error you posted indicates a libraryVersion of "5001" which I've never seen in any configuration.  If your willing to send me a copy of your database it would be helpful for debugging.  Easiest way is to use something like [Firefox Send](https://send.firefox.com/) to email to me

[2020-04-15 23:14] RhetTbull opened #103 "Add option to use hardlinks for export"
1. Add arg to PhotoInfo.export to hardlink files instead of copying them
2. Add "--export-as-hardlink" option to CLI
3. Add "--hardlink-duplicates" option to CLI.  This would copy the first copy of an image exported and created hardlinks to that copied file for all subsequent exports.  This would be useful with multi-valued export templates e.g. "{album}" so multiple copies of a file aren't actual

[2020-04-16 18:58] RhetTbull commented on #101
Have got initial support for associated RAW images (for 10.15/Photos 5 only) in the latest version.  Adds `PhotoInfo.has_raw`, `PhotoInfo.uti_raw`, and `PhotoInfo.path_raw`.

Now I need to work on the CLI interface.  Probably something like --export-raw to export associated raw images.

If "Use RAW as original" set in Photos, the database still thinks "original_filename" is the JPG so need to hand

[2020-04-16 23:05] RhetTbull opened #104 "Add json() to PlaceInfo and then add this to PhotoInfo.json()"
PlaceInfo not yet serialized by PhotoInfo.json or __str__

[2020-04-17 06:12] RhetTbull commented on #101
Latest version on github adds a --export-raw option to `osxphotos export` that should address this issue.  I still need to add test cases and work on the version for Photos <= 4

[2020-04-17 15:23] RhetTbull commented on #93
For Photos 4 reference:
https://github.com/orangeturtle739/photos-export/blob/master/folder_structure.py

[2020-04-17 18:48] RhetTbull commented on #101
Photos 4 also creates a "fullsizeoutput_a.jpeg" for a raw image imported w/o an associated jpeg.  Add option to export this?

[2020-04-17 19:10] RhetTbull commented on #93
Photos 4:
RKAlbum.folderUuid maps to RKFolder.uuid
RKFolder:
[code]

[2020-04-18 05:24] RhetTbull opened #105 "Add better error handling to CLI"
For example:
following
`pym osxphotos export -V ~/Desktop/export tests/Test-Cloud-10.15.1.photoslibrary`
crashes with this

`FileNotFoundError: [Errno dbfile /Users/rhet/Desktop/export/database/photos.db does not exist] /Users/rhet/Desktop/export/database/photos.db`

[2020-04-18 18:16] RhetTbull opened #106 "replace _PHOTOS_5_VERSION logic with _PHOTOS_4_VERSION"

[2020-04-18 19:24] #93 closed

[2020-04-18 19:47] RhetTbull opened #107 "add folder and place info to CLI info option"

[2020-04-19 01:37] RhetTbull commented on #96
I've changed the default behavior as of 0.28.2 to export all photos and added --skip-edit, --skip-bursts etc to negate this if desired.

[2020-04-19 01:37] #96 closed

[2020-04-19 06:33] #106 closed

[2020-04-19 06:57] #44 closed

[2020-04-19 07:01] #18 closed

[2020-04-19 16:11] RhetTbull opened #108 "isMissing does not always work on 10.15.4 for files not copied to the library"
If Photos preference "Copy items to the Photos library" is not checked and a photo is added the library then later removed from disk, it appears that localAvailability (used to calculate isMissing) is still set to 1.  Photos prompts user to reconnect to missing file when attempting to open the image but does not change localAvailability.

For these images, should probably check existence of local

[2020-04-19 17:07] RhetTbull opened #109 "add is_external flag to _info to identify files not copied to the library"

[2020-04-19 19:20] RhetTbull opened #110 "Add verbose, _print, and _warn args to PhotosDB.__init__"
verbose: enable verbose output (e.g. copying database, processing faces ,etc.)
_print: specify print function to use for verbose output (default to print but CLI could for example pass click.echo)
_warn (same as _print but for warning, default to logging.warning but CLI could pass wrapper func around click.echo(err=True) )

All methods of PhotosDB would then have access to these

[2020-04-19 19:22] RhetTbull opened #111 "Add _debug_dump to PhotosDB"
Streamline the current debug output which can be very large then add PhotosDB._debug_dump to dump all the database dicts if needed.

[2020-04-19 19:22] RhetTbull commented on #110
Also add --verbose as common option for all CLI functions

[2020-04-20 14:09] bkovacev opened #112 "Installation Issue with bpylist2-2.0.3"
Hi I can't seem to install either through `pip install` or through `python setup.py install`.

Python: 3.6
OSX: 10.15.4
using venv

[code]

[2020-04-20 14:56] RhetTbull commented on #112
For python < 3.8, I had to make a custom version of bpylist2 to get around this error.  Try:
`pip install -r requirements.txt` which will pull the right version of bpylist2 from my github then try `python3 setup.py install` again.  I'll update the docs to reflect this.

[2020-04-20 16:01] bkovacev commented on #112
That worked perfectly, thank you so much for the prompt reply @RhetTbull . Closing this.

[2020-04-20 16:01] #112 closed

[2020-04-22 18:16] britiscurious commented on #103
Just was about to raise a wish. Thanks to Githubs "similar issues" I found you are already on it.
Great tool! Just found it.

[2020-04-26 06:50] britiscurious opened #113 "month name not in user's locale"
When executing:

./osxphotos export --directory '{created.year}/{created.mm}-{created.month}' DEST

the corresponding subfolders for the created month are created in English although it should be German in my case.

running locale in Terminal (zsh) returns:

LANG="de_DE.UTF-8"
LC_COLLATE="de_DE.UTF-8"
LC_CTYPE="de_DE.UTF-8"
LC_MESSAGES="de_DE.UTF-8"
LC_MONETARY="de_DE.UTF-8"
LC_NUMERIC="de_DE.UTF-

[2020-04-26 08:31] RhetTbull commented on #113
Thanks for the bug report!  I’m surprised by this because I’m using datetime’s strftime() whose [documentation](https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior) states it uses user’s locale. I’ll dig into the code and see what I can figure out! My intent was that those template substitutions all happen in the user’s locale.

[2020-04-26 13:54] britiscurious commented on #113
OK, I did a quick experiment in the shell with python 3 (3.7.3).

[code]
returns ('de_DE', 'UTF-8')

`locale.getlocale(locale.LC_TIME)`
returns (None, None)

[code]

returns 'Sunday' <- not what I want

`locale.setlocale(locale.LC_TIME, 'de_DE')`
returns 'de_DE'

`locale.getlocale()`
returns ('de_DE', 'UTF-8')

`locale.getlocale(locale.LC_TIME)`
**now** returns (de_DE', 'ISO8859-1')

`today.strfti

[2020-04-26 16:26] RhetTbull commented on #113
@britiscurious thanks -- that's helpful and I think I'm on the right path now.  Try your example above but execute this line first:

`locale.setlocale(locale.LC_ALL,"")`

I did some similar testing after seeing your examples, changing my locale to de_DE and got same results.  Not sure why, but I think the line above will get datetime to use the right locale as in example below:

[code]

[code]

[c

[2020-04-26 16:59] britiscurious commented on #113
Just wanted to confirm that
`locale.setlocale(locale.LC_ALL,"")`
does the trick here, too.

[2020-04-26 17:04] RhetTbull commented on #113
Excellent!  I think I've fixed this -- working on test cases now, will push update to github later today.

[code]

[code]

[2020-04-26 22:20] #113 closed

[2020-04-26 23:11] RhetTbull opened #114 "tests no longer under GitHub actions for python = 3.6, 3.7"
GitHub did something that broke tests under 3.6, 3.7 due to bpylist2 install.  Not sure it's worth maintaining support for these older pythons -- chasing these issues with bpylist2 is driving me nuts.

[2020-04-26 23:12] RhetTbull commented on #113
Fixed in version 0.28.6

[2020-04-28 06:09] #61 closed

[2020-04-28 14:08] RhetTbull opened #115 "Change implementation of use_albums_as_keywords, and use_persons_as_keywords"
These are implemented as property of PhotosDB but PhotoInfo is the only class that needs to know about them.  Should really be implemented as args to PhotoInfo.export.

[2020-04-28 14:41] #115 closed

[2020-04-28 22:49] adamshand opened #116 "KeyError in _build_album_folder_hierarchy_4"
Hi Rhet,

Many thanks for adding the album and people keywording feature.  My photos album finished downloading overnight and I gave osxphotos a try this morning.  I assume I'm doing something dumb but everything I've tried resets in a KeyError.

[code]

This is on 10.14.6 with my photo library on an external HFS formatted drive.

I've tried using a few different versions of osxphotos and both ins

[2020-04-28 23:10] RhetTbull commented on #116
@adamshand ugh...definitely a bug.  Thanks for opening an issue.  I'll take a look.  If you don't mind sharing a copy of your database file it would be very useful for debugging.  The file should be in ~/Pictures/Photos Library.photoslibrary/database/photos.db.  The file contains metadata about the photos including names, locations, etc. but no actual images.  Easiest way is probably to zip it and

[2020-04-29 00:27] adamshand commented on #116
Uploading now.  Will email you the link.

[2020-04-29 01:27] RhetTbull commented on #116
I think I found the bug (wasn't filtering out "special" album types) -- try 0.28.10 and let me know if it works.

[2020-04-29 02:07] adamshand commented on #116
Seems to be working, woohoo!  DIdn't expect to see all my old iPhoto events in there.  That's cool.

[code]

[2020-04-29 02:40] adamshand commented on #116
Yep this looks like it's working.  Thank you so much, this is epic.

The only thing I wish it did differently was include folders in the album name.  At the moment if I have a photo album called "Bike" in a folder called "Projects" what comes through in the take is just "Bike".  It would be ideal if it came through as "Projects/Bike".  Easy enough to work around by renaming albums before exporting

[2020-04-29 02:49] adamshand commented on #116
Hrm, just blew away the cache and db for Shotwell and tried again and it seems to be working fine now.

[2020-04-29 03:15] RhetTbull commented on #116
Glad it's working!  You can get folder name/album with “{folder_album}” as the --directory template

--exiftool writes the metadata to photos with exiftool

--sidecar xmp writes the XMP file some apps like lightroom use to import metadata. If you're using exiftool you probably don't need this, it's just provided for completeness or for those that don't want to modify the exif in the photos.

I'm n

[2020-04-29 03:44] adamshand commented on #116
That's useful thanks.  Probably won't bother with the sidecar then, it can always be regenerated if need be if the data is in the actual files.

What I was meaning is for the folder name is for it to be part of the metadata (as opposed to the exported folder structure).  Because I've got photos going back to the 1990s I organised my Photos.app albums like:

[code]

In my case the folders are essen

[2020-04-29 03:59] RhetTbull commented on #116
That's reasonable -- I could add a flag to treat folder as keyword.  In your example would you want separate keywords for 1990s, 1990, Event7 or a single keyword like 1990s_1990_Event7? (eg whole path)

[2020-04-29 04:28] adamshand commented on #116
I'd prefer them as a single keyword (eg. "1990s/1996/Favourites") because I'm using the names to build an album folder structure similar to what I had in Photos.app.

[2020-04-29 04:44] RhetTbull opened #117 "Add --folder-keyword and --folder-album-keyword options to CLI"
Add option to include folder (--folder-keyword) and full folder path to album (--folder-album-keyword) that would work like --album-keyword and --person-keyword

[2020-04-29 04:45] RhetTbull commented on #116
OK -- that seems reasonable. If / is valid in a tag and your software will read those then definitely makes sense to include the "/".  I opened issue #117 to track this. Should be a fairly easy fix.

[2020-04-29 04:56] RhetTbull opened #118 "exported metadata may be buggy"
Yep this looks like it's working.  Thank you so much, this is epic.

The only thing I wish it did differently was include folders in the album name.  At the moment if I have a photo album called "Bike" in a folder called "Projects" what comes through in the take is just "Bike".  It would be ideal if it came through as "Projects/Bike".  Easy enough to work around by renaming albums before exporting

[2020-04-29 04:57] #116 closed

[2020-04-29 06:03] RhetTbull commented on #118
Not sure what the unknown field is reported by Imagemagick. I see this in some of the test images osxphotos uses but it's also there in the original unmodified file before importing to Photos so unlikely it's caused by osxphotos.  Not sure about the shotwell error -- will need to research that further.

From Tulips.jpg in the test-images folder

[code]

[2020-04-29 13:42] RhetTbull commented on #117
As I think about this it might be more useful to simply extend the template system already in place for export directory. For example:

--keyword-template "{folder_album}"

users could then specify created.year, place.name, etc as keywords

Would need a way to not include templates that resolved to None -- unlike in a directory it is probably less useful for keywords to specify a default value

[2020-04-30 08:46] adamshand commented on #117
That'd be great!

[2020-04-30 13:04] RhetTbull opened #119 "folder_names does not work on 10.13.6 for albums in a single top level folder"
E.g. Folder1/Album1, album.folder_names returns []

[2020-04-30 16:11] RhetTbull commented on #119
Did some additional testing -- this is also broken in 10.14.6 -- apparently for all Photos 4 databases.  Does seem to work for Catalina/Photos 5.

[2020-04-30 16:25] RhetTbull commented on #119
I think the issue is with build folder hierarchy code in _process_database4:

https://github.com/RhetTbull/osxphotos/blob/a57da2346b282d731ed41db600bfc5cbeb1a0992/osxphotos/photosdb.py#L661-L672

[2020-05-01 17:29] RhetTbull commented on #119
This is fixed now but still need to add test for Photos 5 libraries.

[2020-05-01 20:13] RhetTbull opened #120 "move code out of utils"
utils is getting bloated with lots of stuff...should move a lot of this stuff into specific modules with like functionality to improve longer term maintainability

[2020-05-02 05:12] RhetTbull commented on #117
@adamshand done in v0.28.13 which adds --keyword-template option

[2020-05-02 05:12] #117 closed

[2020-05-02 05:35] adamshand commented on #117
Awesome, thanks!

[2020-05-02 14:33] #119 closed

[2020-05-02 19:18] RhetTbull commented on #100
also add --update-metadata that would only update metadata if changed? If user used --exiftool, check to see if metadata changed and if so update with exiftool, for --sidecar, rewrite all the sidecars

[2020-05-02 21:10] NiccoStar86 commented on #100
this could be useful to avoid the re-copy of the files if already in the destination! for an "incremental" scenario for big archives is great!

[2020-05-03 08:01] RhetTbull commented on #100
Thinking of an interface like this:

`osxphotos export --update --exiftool /path/to/export`

If --update, check to see if photo exists and if so, is the one in Photos newer. If newer, export it.

If --exiftool or --sidecar, would also check to see if any metadata changed and if so, write new metadata

[2020-05-03 08:38] NiccoStar86 commented on #100
I think that in this way is totally modular, like the rest of the options! If added --exiftool or --sidecar, if a file already exist the procedure will check only the metadata, and if different update it, not re-copy the entire file, right?

[2020-05-03 15:29] RhetTbull commented on #100
@NiccoStar86 yes, intent with update would be to not re-copy the entire file.  However, to update exifdata embedded in the file it must be re-written using exiftool.  It would still be faster because the current export does 2 copies -- one to get file out of the library then a second to apply metadata.  This same interface could be used to stop and re-start an export.  For example, if you needed t

[2020-05-03 15:55] NiccoStar86 commented on #100
@RhetTbull Perfect explanation! The new option --update will make osxphotos even better. Waiting to test it :)

[2020-05-04 02:38] simonw opened #121 "Possible to get at the automatic image labels?"
First up: thank you so much for this library! I've been wanting something like this for years. I'm using this for my own (very early alpha) [photos-to-sqlite](https://github.com/dogsheep/photos-to-sqlite) tool.

One of my favourite features of Apple Photos is the way it runs machine learning on my phone/laptop to identify photos of dogs, cats, beaches etc and add invisible labels to my photos. As

[2020-05-04 03:10] RhetTbull commented on #121
I've not looked for this data (and indeed didn't know Photos did this until you mentioned it).  I make heavy use of face detection but haven't tried other image recognition fear res. I'll take a look -- if I can find where the data is stored I can definitely expose it through osxphotos.

[2020-05-04 04:18] RhetTbull commented on #121
Quick peek at the database points to ZSCENECLASSIFICATION as one possible source of the classification data.  However, I can't find any other reference to the ZSCENEIDENTIFIER column values in the database (I'm guessing the identifier is the classified subject in the photo, e.g. "dog") but these values must be looked up elsewhere, perhaps in some other database used by photoanalysisd.

[code]

[2020-05-05 00:55] simonw commented on #121
I think I may have found it:
[code]

[2020-05-05 03:23] simonw commented on #121
Made a bunch of progress on this in https://github.com/dogsheep/photos-to-sqlite/issues/16 but I've got stuck on UUIDs. The `psi.sqlite` database stores them like this:

![image](https://user-images.githubusercontent.com/9599/81032524-0a9a6680-8e45-11ea-8826-e09d67f2e561.png)

I can't work out how to convert those into the standard UUIDs that are stored in the `ZUUID` columns in the main Photos.sq

[2020-05-05 04:07] simonw commented on #121
This seems to work, thanks to https://twitter.com/pkqk/status/1257512449575497729

[code]

[2020-05-05 12:03] RhetTbull commented on #121
Looks like @simonw cracked the [code](https://github.com/dogsheep/photos-to-sqlite/issues/16) on this!  I'll work on adding this as a feature to osxphotos in a couple of weeks.  From an interface perspective, not sure what to call this.  maybe `search_terms` or `image_classification`?  Interface might be:

[code]

But, if I can figure out how to add associate confidence value with these, that migh

[2020-05-05 12:03] RhetTbull commented on #121
Looks like @simonw cracked the [code](https://github.com/dogsheep/photos-to-sqlite/issues/16) on this!  I'll work on adding this as a feature to osxphotos in a couple of weeks.  From an interface perspective, not sure what to call this.  maybe `search_terms` or `image_classification`?  Interface might be:

[code]

But, if I can figure out how to add associate confidence value with these, that migh

[2020-05-05 12:21] RhetTbull opened #122 "Add photo scores"
Apple computes various photo scores -- add these.  See:

https://github.com/dogsheep/photos-to-sqlite/blob/f9c6f0e247a2243cd23fe9fd08ef3f7bb3ec8ba3/photos_to_sqlite/cli.py#L175-L227

[2020-05-05 14:27] simonw commented on #121
Personally I like the word "label" to describe what's going on here - it's the output of a machine learning label classification task.

[2020-05-06 21:54] RhetTbull commented on #121
Traveling and don't have my computer but I was able to ssh to my Mac at home via iPad :-) so I played around a bit using @simonw's [code](https://github.com/dogsheep/photos-to-sqlite/issues/16) to prototype this for osxphotos.  Trying to decode the categories in the groups table and so far have this:
- 1 to 12: various parts of the reverse geolocation data (1 is areas of interest and 12 is country

[2020-05-06 23:48] RhetTbull opened #123 "add uuid_burst property to PhotoInfo"
There's no public interface to get burst UUID -- add a property for this.  In keeping with other properties such as path, path_edited, path_raw, etc, probably best to call it uuid_burst

[2020-05-06 23:54] RhetTbull opened #124 "add as_dict to ExifTool"
ExifTool currently has json() which returns an actual dict instead of a json string. Fix this and add the as_dict method.  Also, need to check all the other json() methods in osxphotos to see if they do the right thing.

[2020-05-07 11:55] RhetTbull commented on #121
I'm surprised albums and folders don't appear to be one of the search categories

[2020-05-07 12:09] RhetTbull commented on #121
I like @simonw's suggestion of `labels` as the name for this data but I also want to expose all the search terms.  So thinking of this:

[code]

It might be good to also provide a reverse index from label to all photos containing that label to make it fast to search the entire library
e.g. when processing `psi.sqlite`, also build a _db_label_uuuid dict in form {label: [list of uuids]}

Then add th

[2020-05-07 12:13] RhetTbull opened #125 "Refactor photosdb.py"
photosdb.py is getting unwieldily, especially with the separate code for Photos 5 and legacy databases and the very long _process_database4, _process_database5 methods.  Refactor the class into a separate package under osxphotos with multiple files.  (Maybe use mixin classes to import the methods?)

[2020-05-08 21:48] RhetTbull commented on #103
Thanks @britiscurious for the PR implementing --export-as-hardlink!  I'm going to leave this issue open for now because I'd also like to eventually add the --hardlink-duplicates option which exports the first copy but hardlinks any others (e.g. if user used a --directory template that put the photo in multiple directories).  That will be more complex though because it will require keeping track of

[2020-05-09 08:09] britiscurious opened #128 "self built executable throws error"
I have set a a dev environment for osxphotos based on python 3.8.2.
Everything is working if I invoke cli.py
But if I build an executable with help of make_cli_exe.sh and try to run it I get the following error:

[84939] Error loading Python lib '/var/folders/jw/2t6k1dy963xd344v_xh9fr8w0000gn/T/_MEIF7TZXn/Python': dlopen: dlopen(/var/folders/jw/2t6k1dy963xd344v_xh9fr8w0000gn/T/_MEIF7TZXn/Python, 1

[2020-05-09 10:07] RhetTbull commented on #128
How did you install python? (For example, anaconda, home brew, directly from python.org)?

Are you using a virtual environment and if so, how did you create it?

[2020-05-09 13:51] RhetTbull opened #129 "Add README on how to set up Mac dev environment for new contributors"

[2020-05-09 15:04] britiscurious commented on #128
Direct download from python.org. No virtual environment. (At least not intentionally set up by me.)

[2020-05-09 15:20] RhetTbull commented on #128
OK, I've not tested with that version (I use Anaconda).  I do recommend you learn about [virtual environments](https://docs.python.org/3/tutorial/venv.html) because it'll save you lot of headache as you do more python development.  In summary, virtual environments create a separate copy of python and any needed libraries/packages for each project to avoid conflicts, for example, if one project req

[2020-05-09 20:00] britiscurious commented on #128
Gave it a try with a virtual environment. But result remains the same.
Nevertheless, please close the issue. `python3 setup.py install` works fine.
I did not recognize that it also creates an executable.
Thought it was only for retrieving required dependencies.

[2020-05-11 03:11] RhetTbull commented on #121
@simonw osxphotos version 0.28.15 now includes properties for PhotoInfo.labels and PhotoInfo.labels_normalized as well as PhotosDB.labels, .labels_normalized, .labels_as_dict, .labels_normalized_as_dict to provide access to the label info.  PhotoInfo also includes a new .search_info property which returns a SearchInfo object which will eventually expose all the different categories in psi.sql.  Cu

[2020-05-11 06:29] simonw commented on #121
Amazing! This is such a great project. Thanks very much for this.

[2020-05-11 20:10] RhetTbull commented on #124
fixed in 0.28.16

[2020-05-11 20:10] #124 closed

[2020-05-11 20:11] RhetTbull commented on #107
Also add labels

[2020-05-11 20:15] #27 closed

[2020-05-11 22:57] RhetTbull opened #130 "Add labels to templating system"
Add {label} and {label_normalized} to the templating system.  This would allow user to set labels as keywords on export which would be handy.  See #121

[2020-05-14 19:53] RhetTbull commented on #11
Implemented in v0.28.17 for Photos 5.  The data does not appear to be available in earlier library versions (with exception of exifLongitude and exifLatitude in RKVersion).  v0.28.18 adds PhotoInfo.exiftool.as_dict() to provide access to all exif data.

[2020-05-14 19:53] #11 closed

[2020-05-15 04:13] felciano opened #131 "Using osxphotos to cache photos outside of the Photos library?"
Hi --

This might be a request for clarified documentation more than anything else. `osxphotos` looks quite powerful, but I can't quite tell whether it is a good fit for ongoing/regular export of photos from Apple Photos. In particular, if you wanted to keep an archival version of your photos--with metadata--in open formats for long time archival storage with minimal file format lock-in risk, `osx

[2020-05-15 04:42] RhetTbull commented on #131
Currently you'd need to re-export the entire library however I have an open issue #100 to add a --update option to do just what you requested. This would only update new or changed photos. I'm still thinking through implementation-- for example, osxphotos will need to determine if metadata changes.

[2020-05-15 20:57] #130 closed

[2020-05-15 22:36] felciano commented on #100
Thanks for the pointer @RhetTbull. Is there a technical / architectural design gating this e.g. re figuring out how to efficiently cache do the metadata comparison? And I assume there is no way to dereference the photo directly within the library and skip that first copy step you describe in https://github.com/RhetTbull/osxphotos/issues/100#issuecomment-623127493

[2020-05-15 22:56] RhetTbull commented on #100
@felciano no particular technical issues, just time to implement.  I've actually started working on the design.   I'll likely add this as an option to `PhotoInfo.export()`.  Comparing the files is straightforward -- [filecmp.cmp](https://docs.python.org/3/library/filecmp.html) is probably sufficient.  However, if the user applied metadata with the `--exiftool` option, the files won't be the same s

[2020-05-15 23:00] RhetTbull opened #132 "CLI export --export-as-hardlink incompatible with --exiftool"
I believe the current --export-as-hardlink is incompatible with the way --exiftool works.

exiftool creates a new image then deletes the original (the file that was hard linked to the Photos library) and replaces the file with the new one.  Once the replacement is done, it'll no longer be hardlinked to the Photos library but will be an entirely new file.

The correct implementation is likely to us

[2020-05-15 23:01] RhetTbull commented on #131
Closing this and moving conversation to issue #100

[2020-05-15 23:01] #131 closed

[2020-05-15 23:04] RhetTbull commented on #100
I also don't know if exiftool preserves all the metadata (extended attributes, resource fork) associated with the file when rewriting.  Need to check this (I bet it does not preserve the data).  If not, I could use [osxmetadata](https://github.com/RhetTbull/osxmetadata) to rewrite the extended attributes but the resource fork would be lost.

[2020-05-16 13:47] RhetTbull commented on #132
While it would be possible to rewrite the files in the Photos library I think there's too much risk in doing so without knowing exactly how Photos will respond.  I've updated docs and made these two options incompatible in the CLI.

[2020-05-16 13:48] #132 closed

[2020-05-16 15:56] RhetTbull opened #133 "--export-as-hardlink doesn't check for --overwrite"
results in FileExistsError

[2020-05-16 16:37] RhetTbull opened #134 "export with original_filename can result in incorrect results if exported to same folder"
If an image has the same original_filename as another image and is exported to the same directory, `osxphotos export` will not detect that it's a different file which will result in incorrect behavior (one of the files will be overwritten if --overwrite or --update is used)

This can happen for example if file is duplicated in Photos

[2020-05-16 17:25] RhetTbull commented on #100
I have this mostly implemented but have run into an issue that will take some engineering to resolve.  It is possible for a file in Photos to have the same original name as another file (this is quite common, e.g. two files named `IMG_0001.JPG`).  If these happen to be in the same export directory, osxphotos will normally detect a collision and increment the second file: e.g. it will be exported a

[2020-05-16 17:37] NiccoStar86 commented on #100
The option to create a ".osxphotos" file inside each directory would be great, but how do you manage the case of two photos with the same filename? Adding a progressive counter IMG_0001 (1).JPG, IMG_0001 (2).JPG, and so on? If this is easy to implement should work well.

Another fastest solution could be that when the option --update is used, osxphotos force the filename of the files exported to "

[2020-05-16 18:38] RhetTbull commented on #100
@NiccoStar86 because I know the UUID of the photo prior to export, it would be possible to create a dictionary that maps from UUID to filename, for example:
[code]
Your idea to add uuid to the filename would work but I want the user to be able to have control over the destination filename -- for example, I intend to extend the templating system currently used for `--directory` to allow user to spe

[2020-05-17 03:40] RhetTbull opened #135 "Add created.dd and modified.dd to template system"
Need a way to specify day of month (e.g. 01 to 31)

[2020-05-17 09:33] NiccoStar86 commented on #100
@RhetTbull as usual, very clear explanation! Yes, my idea was quite "crude" ;) but I understand the clear vision of the project and the endless possibilities of "customization" that you want to give to everyone. Thank you

[2020-05-17 19:06] RhetTbull opened #136 "ismissing not always correct for Photos 5"
Editing raw image can result in `'localAvailability': -32768` which causes ismissing to be reported as True even if image is not missing.

[2020-05-17 19:50] RhetTbull commented on #100
I have `--update` working for photos, now working on updating metadata (`--exiftool`, `--sidecar`).  I settled on writing the UUID of the photo to a custom extended attribute `com.osxphotos.uuid` upon export so osxphotos can map the exported image back to original.  This should work on all Mac filesystems and be completely transparent to the user with no need for additional files to store state.

[2020-05-17 21:07] felciano commented on #100
How would this work for files on e.g. a NAS? Would using the `rsync -X` option preserve this new attribute?

[2020-05-17 21:49] NiccoStar86 commented on #100
Good question, which interests me too @felciano ... My destination is a folder on a Synology mounted via SMB on my iMac, and during the previous test I used the option `--no-extended-attributes` because without I have received an error during the export!

[2020-05-17 22:46] RhetTbull commented on #100
Good question.  If the NAS supports extended attributes, this should work fine.  If not, then `--update` as currently implemented wouldn't work.

@felciano `rsync -E` will preserve extended attributes and I just confirmed it does preserve the custom xattr.  If this is a big issue, I'll come up with another solution for `--update`.  I implemented this in a way that it's not difficult to re-engineer

[2020-05-18 01:19] RhetTbull commented on #100
I've rewritten the UUID check for `--update` to use a sqlite file which will be created in the export destination.  Currently it's called `/path/to/export/.osxphotos_export.db`.  Though I like the elegance of the extended attributes solution, it may cause problems for those exporting to NAS volumes.  Having a full database associated with the export will provide a means to add other functionality

[2020-05-18 01:51] felciano commented on #100
@RhetTbull love the idea. How would it work for directory trees? For example, if the intent is to create a fairly common YYYY/MM/DD tree structure for the files, would there be an `.osxphotos_export_db` at each level or just the root? And would it contain metadata just for the photo files immediately within that directory, or for those within subdirectories as well?

[2020-05-18 01:59] RhetTbull commented on #100
@felciano for simplicity and performance I think a single database at the top level of the export is best so we don't have to have possibly hundreds of file handles open.  My plan is to store the relative path to the files from the top level export.  So if export structure looks like this:

[code]
the database would be:
`/path/to/export/.osxphotos_export.db`

and each file, uuid pair would be stor

[2020-05-18 02:48] felciano commented on #100
Got it. And would the `.osxphotos_export_db` contain just the UID-to-filename mappings, or would it contain additional metadata information such as faces etc?

[2020-05-18 03:08] RhetTbull commented on #100
Right now I only plan to store the UUID to filename mapping and in the future, possibly the options that `osxphotos` was called with.  I'm not sure what the utility of storing the other metadata would be as it wouldn't be easily accessible to the user.  Do you have a use case in mind?  If the user wants to preserve the metadata, I recommend either doing this in the EXIF headers using `--exiftool`

[2020-05-18 17:58] NiccoStar86 commented on #100
@RhetTbull great idea to use a sqlite, and expandable for the future ;) ... Now I'll read and test the link suggested, thank you!

[2020-05-19 01:07] felciano commented on #100
A few use cases to think through based on my experience with similar approaches elsewhere. I hesitate to call these "use cases" -- they are more "edge cases" to think through because someone will do them, so should have clarified system behavior as such:

1. If I do `osxphotos export /path/to/export etc` at one point, and then at another point someone (maybe me) does `osxphotos export /path/to/exp

[2020-05-19 04:09] RhetTbull commented on #100
Thanks @felciano -- all good edge cases.  I'll consider adding an issue to perform the check for existing database file and warn user if one is found.  However, in all these cases the worst thing that happens is the user re-exports a bunch of photos, possibly in the wrong location which isn't critical but in all cases, does add complexity to the code.  Another similar case is the user runs an upda

[2020-05-19 07:35] NiccoStar86 commented on #100
@RhetTbull I vote for the "hidden" database, if only to avoid the mistake of deleting it ... Then in the documentation you can explain in detail what is saved in the database and where it is, but I would avoid leaving it easily "accessible" via Finder

[2020-05-19 17:38] RhetTbull opened #137 "Add copy_func and hardlink_func params to export to enable dryrun option"
In order to add a --dryrun or --test option to the CLI export command, need a way to determine which files would be exported if the export command was run.  Much of this work is done inside PhotoInfo.export().  To avoid having to duplicate this effort inside the CLI, it would be simpler to allow export() to be called with mock copy and hardlink functions.  These could then echo which files would h

[2020-05-20 13:11] RhetTbull opened #138 "Change --download-missing to download based on path not ismissing"
`ismissing` isn't always reliable.  It's better to look at the actual photo path and determine if the file should be downloaded if the file is really missing off disk.

[2020-05-20 15:56] RhetTbull commented on #48
Also add import date/time and expose it to the template system:
`{imported.year}/{imported.month}`

Also, figure out the Photos 4 import time stamp used for storing photos in Masters:
`2019/07/27/20190727-131650`

[2020-05-21 04:46] felciano commented on #100
This seems like a reasonable explanation. Probably also willing to RTFM so as long as the edge case behavior is documented I suspect you'll be fine.

[2020-05-21 13:22] RhetTbull opened #139 "Add IPTC2019.1 fields to export with XMP and exiftool"
Add all [2019.1](https://www.iptc.org/std/photometadata/specification/) fields to export

[2020-05-21 22:37] RhetTbull commented on #73
Look at [pyheif](https://github.com/david-poirier-csn/pyheif)

[2020-05-21 22:37] #99 closed

[2020-05-21 22:39] RhetTbull opened #140 "Refactor README.md to pull out details to separate docs"
README is getting unwieldly
Need to learn to use [sphinx](https://www.sphinx-doc.org/en/master/ ) and [readthedocs](https://readthedocs.org/)

[2020-05-21 22:54] RhetTbull opened #141 "Add PhotoScore class to expose the underlying ML image classification scores"
See @simonw's [blog posting](https://simonwillison.net/2020/May/21/apple-photos-sqlite/) for details on the scores in `ZCOMPUTEDASSETATTRIBUTES` and `ZGENERICASSET`

Add a PhotoInfo.photo_score property that returns a PhotoScore dataclass exposing all the underlying scores.

[2020-05-22 14:14] RhetTbull commented on #100
This is getting closer.  I've added checks to try to find matching files in the destination if there is no DB that way if user ran --update against a library previously exported with older version of `osxphotos` or if the DB file got deleted, the update still works without having to re-export everything (and builds the DB in the process).  Now working on the metadata update.

[2020-05-22 15:29] RhetTbull commented on #100
Working on the metadata cache to compare metadata.  Instead of reading metadata directly from each file to compare, which will be slow, I've experimenting with caching a JSON representation of everything known about the photo in the export database.  This adds about 2kB per photo exported which seems reasonable.  Access will be much quicker than reading EXIF data directly from each file.

[2020-05-22 18:28] RhetTbull commented on #100
This is going to be more complex than I thought.  If user uses `--exiftool`, the destination file will always be different than the source file due to being re-written by `exiftool` and so the file comparison will fail and the file will get updated every time --update is run.  In addition to comparing the cached metadata, I'll also have to cache and compare a hash of the file before and after it's

[2020-05-23 15:25] RhetTbull opened #143 "Remove all the help text from __main__.py and place in a separate file"
There's a lot of help text in the CLI __main__.py.  Might be easier to maintain in a documentation file and might also facilitate future localization of help text.

[2020-05-23 15:55] RhetTbull opened #144 "Rename various as_dict() methods to asdict()?"
Python [namedtuple](https://docs.python.org/3/library/collections.html#collections.namedtuple) uses `._asdict()` and [dataclasses](https://docs.python.org/3/library/dataclasses.html) use `.asdict()` but in various places in `osxphotos` I use `.as_dict()`.  Should I standardize on `.asdict()`?

[2020-05-23 16:21] RhetTbull opened #145 "Add CLI option to customize "_edited" suffix added to edited photos"
Currently, all exported edited images add "_edited" to the end of the photo name to distinguish them from the original photo.  User may want to use something different, e.g. based on their native language.  Provide option to customize this.

[2020-05-23 16:44] RhetTbull commented on #100
I think this is done in version [0.29.0](https://github.com/RhetTbull/osxphotos/releases/tag/v0.29.0)!  It took significant re-factoring to make this work but I believe it's working now and all tests passing for expected edge cases.   Thanks much @felciano and @NiccoStar86 for the feedback during the development process.  Let me know if you encounter any issues.

[2020-05-23 16:44] #100 closed

[2020-05-23 20:14] NiccoStar86 commented on #100
Thank you to you @RhetTbull for this great job! I'll test the new version asap and I'll update you!

[2020-05-24 04:39] #135 closed

[2020-05-24 12:36] grundsch opened #148 "problem with folder_names when using templates"
Hi,
I have a strange bug. When using directory templates, the export crashes with an error about folder_names, although I'm not using folder_names in the template:

[code]

Any idea what is going on?
I'm using python 3.7.7 from brew, and installed the required packages as mentioned in the readme.

BR,
 Stéphane

[2020-05-24 13:41] RhetTbull commented on #148
That is a most bizarre bug...there may be an underlying bug in an uncaught exception in `_album_folder_hierarchy_list_5` which builds the folder hierarchy list but I don't see how that code was possibly reached during execution!  I'll look into it today.

[2020-05-24 13:55] RhetTbull opened #149 "render_template renders all values even if not used in template"
PhotoInfo.render_template renders all the multi-valued substitutions even if the field isn't used in template.  This is inefficient and unnecessary.  Discovered while looking into issue #148. This code should be refactored to render the template values only if required by the template string.

https://github.com/RhetTbull/osxphotos/blob/09c7d18901b61669d8b9242babd82eba6987c89a/osxphotos/photoinfo/

[2020-05-24 13:59] mccarverone opened #150 "Export modifications as well?"
Hello thank you very much for your awesome work on this project.

I am trying to understand the best possible way to export my library from Photos while keeping 100% information pertaining to the media files. My objective is to have the original media file exported with all the relevant details in a separate sidecar file.

One missing piece of the puzzle would be the possibility to export the basi

[2020-05-24 14:26] RhetTbull commented on #148
@grundsch I pushed a fix that should catch this exception. There's possibly an underlying issue with the processing of the albums and folders but without a copy of the database that's causing the error I can't dig into it further.  Your issue did expose an inefficiency in the template process I'll work on (opened #149).  Try `git pull` and run again and let me know if you still have an issue with

[2020-05-24 15:19] grundsch commented on #148
well done, that did the trick!
If you still need the database, let me know.

[2020-05-24 15:19] #148 closed

[2020-05-24 15:20] RhetTbull commented on #150
I've not been able to reverse engineer the photo adjustments.  I've not spent considerable time on this but have looked at the database and tried to understand how adjustments were being stored--unfortunately the information on adjustments is not straight forward.

`osxphotos` does export the modified jpeg image but it is not able to decode the adjustment history (for example, crop, filter, adjust

[2020-05-24 15:24] RhetTbull commented on #148
Great! @grundsch I'd like to understand why the code failed in the first place.  If you don't mind sharing the database, the files I need are ~/Pictures/Photos Library.photoslibrary/database/Photos.sqlite and ~/Pictures/Photos Library.photoslibrary/database/photos.db.  They're probably large so the easiest way to send them is to zip and send via something like [Firefox send](https://send.firefox.c

[2020-05-24 17:45] mccarverone commented on #150
I sort of expected this. Thanks for your reply. Kind regards

[2020-05-24 22:40] RhetTbull commented on #91
Have this implemented.  Need to add tests cases and clean up verbose output.

[2020-05-24 22:40] RhetTbull commented on #137
Done. Did this via implementation of FileUtil class

[2020-05-24 22:40] #137 closed

[2020-05-25 17:38] #91 closed

[2020-05-26 04:50] RhetTbull opened #151 "Parts of osxphotos are very slow"
On my 27,000 image library, process_searchinfo needs to process 258,000 rows and takes several seconds to run.  Might be worth some optimization.  In particular, ints_to_uuid seems to be taking up a lot of time..might be useful to memoize results

[2020-05-27 15:24] RhetTbull commented on #151
Need to spend some time profiling the rest of the code too.  For example, the new export dv added for --update makes many single SQLite execute calls that might benefit from optimization

[2020-05-28 03:34] RhetTbull commented on #151
Did some profiling with the following:

[code]

Code in set_x is what was in first implementation of `--update` code in several places.  It's about 3X slower than set_data which combines the sqlite execute commands.  I also tested with and without indexes to make sure the indexes were actually helping -- definitely faster with indexes.

[code]

[2020-05-28 18:17] RhetTbull opened #152 "Standardize docstrings"
Docstrings are a hot mess. I like the google [styleguide](http://google.github.io/styleguide/pyguide.html) format

[2020-05-29 13:13] RhetTbull commented on #151
Working on `_process_searchinfo()`.  `lru_cache` on `ints_to_uuid` helps, cuts about 30% time:

[code]

[2020-05-29 13:17] RhetTbull commented on #151
Tried removing, `order by` from the SQL query in `_process_searchinfo()`, no difference.

[2020-05-30 03:38] #151 closed

[2020-05-30 18:27] #149 closed

[2020-05-30 21:48] RhetTbull opened #153 "add separate requirements for dev environment"
See https://stackoverflow.com/questions/17803829/how-to-customize-a-requirements-txt-for-multiple-environments

For dev, need black, pytest, pytest-mock, pyinstaller but don't need those for prod

[2020-05-31 01:34] #145 closed

[2020-05-31 18:25] #89 closed

[2020-05-31 19:00] RhetTbull opened #154 "add counter or sequence to template system"
add {seq} or {counter} to template system to label photos like:

[code]

Will need to ensure export order is deterministic for this to work...perhaps sort query results by `photo.date`.

[2020-06-05 20:55] NiccoStar86 commented on #100
Dear @RhetTbull I tested the --update option and works very well! But during the execution I receive some "WARNING" that I believe related to the export of some files. Even if I use the --verbose option in the log I don't find any errors. Is there any test that I can do to try to find out more precisely, what generates these errors? Thank you!
<img width="1333" alt="Schermata 2020-06-05 alle 11 58

[2020-06-06 01:40] RhetTbull commented on #100
@NiccoStar86 thanks -- the .tiff warnings can be ignored -- I'll add a fix for those so you don't get the warning.  Has to do with sometimes Photos saves as .tiff and sometimes as .tif.  This also happens with .jpg and .jpeg.  However, the warning on the JPG being saved as PNG indicates a bug.  I'll add some debug code and push a new version if you don't mind trying it.

[2020-06-06 01:41] RhetTbull opened #155 "Bug: sometimes files are exported with wrong extension"
Dear @RhetTbull I tested the --update option and works very well! But during the execution I receive some "WARNING" that I believe related to the export of some files. Even if I use the --verbose option in the log I don't find any errors. Is there any test that I can do to try to find out more precisely, what generates these errors? Thank you!
<img width="1333" alt="Schermata 2020-06-05 alle 11 58

[2020-06-06 08:00] NiccoStar86 commented on #100
Absolutely @RhetTbull, I will gladly a try as soon as the new version is available.

[2020-06-06 19:19] RhetTbull commented on #155
@NiccoStar86 I've pushed a new version, 0.29.11.  This fixes the '.tif' to '.tiff' warnings and adds additional details to the warning for the other files.  If you re-run the same command that would be helpful.  Also, there's a new `--dry-run` option which causes `osxphotos` to not actually export any photos so you can try that with a new destination directory which will cause a re-export of your

[2020-06-06 21:48] garz75 opened #156 "Crash when exporting an album due to inconsistency between photosdb._dbalbum_titles and photosdb._dbalbums_album"
Hello, I was exporting a bunch of albums, and I got this error on two albums:
[code]
Looking at line 2139, you can see that there is an exception here because the album_id key does not exist in the self._dbalbums_album dictionary. However the value comes from the self._dbalbum_titles dictionary, which holds the albums id indexed by name. So it looks like the album named "1992-12 Montreal" with uui

[2020-06-06 22:58] RhetTbull commented on #156
First, thanks for the detailed bug report -- very helpful!  Unfortunately it's not immediately obvious to me what the issue is.

If you do the following, do you see either of these albums in the results?

[code]
I'm pretty sure you won't see either album.

One thing that's interesting is that album `1992-12 Montreal` is marked as being deleted (`'intrash': True`) which is likely why it wasn't in t

[2020-06-06 23:01] RhetTbull commented on #156
@garz75 One other thing: I recommend you update osxphotos to the latest version just to make sure we're both looking at the same line numbers.  If you installed via `github`, you can do a `git pull` then `python3 setup.py install` to upgrade.  If via PyPi, try `python3 -m pip install --upgrade osxphotos`

[2020-06-07 14:41] RhetTbull commented on #156
@garz75  I have an idea about at least one of these cases.  I was able to re-create this error by doing the following:
1. Create an empty album named '1992-12 Montreal'
2. Delete the empty album
3. Create another album named '1992-12 Montreal'
4. Add photos to the newly created album
5. Try to export the album

The fact that in your example, '1992-12 Montreal' has`'intrash': True` means this is on

[2020-06-07 15:06] garz75 commented on #156
On Sun 7 Jun 2020 at 16:42, Rhet Turnbull <notifications@github.com> wrote:

I did indeed some shuffling/reorganizing of those albums at some point but
I am not 100% sure it was this exact maneuver that led to the issue. I am
away from my Mac, I will generate the debug info later tonight (Paris
time).

Thank you for looking into this.

Cheers

I will work for a fix for this particular edge case th

[2020-06-07 15:28] RhetTbull commented on #156
No worries!  I pushed a new release v0.29.12 that fixes the issue I described above.  Give that a try when you have time and let me know if you still get the error.  Cheers!

[2020-06-07 21:28] RhetTbull commented on #156
I added a new command to `osxphotos` command line interface: 'debug-dump' which is hidden by default but will allow you to dump the album debug info more easily should you need to.  pull the latest version (v0.29.13) then you can do this:

`osxphotos debug-dump --dump albums >debug.txt`

This will dump just the internal data structures related to albums.

[2020-06-07 22:03] garz75 commented on #156
Well, you hit the nail on the head on the first try... your fix on 0.29.12 fixed the issue for both the problematic albums... Great job! Both (and a third one I had the same issue with) were exported correctly.
I am sending you via send.firefox.com the debug dump you requested. You will see that for the second album also (8E0E30DA-0567-45B4-977B-18C097B662FA), there are two "albums",  one being of

[2020-06-07 22:25] NiccoStar86 commented on #155
Hi @RhetTbull I tested again the export with the version 0.29.13 and I received only this warning:
<img width="1473" alt="Schermata 2020-06-08 alle 00 13 46" src="https://user-images.githubusercontent.com/7814756/83981335-35347f00-a91d-11ea-86f2-8ef9fefd72b6.png">

I searched for the file stored in the _originals_ folder and I found it, with .png extension:
<img width="773" alt="Schermata 2020-06-

[2020-06-07 23:26] RhetTbull opened #157 "add --label to CLI query options"

[2020-06-07 23:42] RhetTbull commented on #155
@NiccoStar86 that's indeed strange -- I've never seen this.  Screenshots taken on iPhone are in PNG format and sometimes store a copy as JPEG but this looks like an imported photo.  If you don't mind, pull the latest version from GitHub or PyPI (0.29.13) and try the following hidden command to get some other debug information:

`osxphotos debug-dump --dump photos --uuid 25EAA77E-61D0-48D7-98CC-9BC

[2020-06-09 04:26] RhetTbull opened #158 "Add hour, min, second to the template system"
`created.hh` = 2-digit hour
`created.min` = 2 digit minute (required because `created.mm` is already 2-digit month)
`created.ss` = 2 digit second

[2020-06-09 04:31] RhetTbull opened #159 "Add ability to export only original or edited"
CLI export command currently exports both original and edited version unless --skip-edited flag is enabled in which case only original is exported.  Some users want to export either the original (if no edited version) or edited (if edited version exists) but not both.  Add something like:
`--skip-original-if-edited` or `--latest` flag to enable this.

[2020-06-09 04:37] RhetTbull commented on #156
Need to add a test for folder and album of same name before closing this.

[2020-06-09 04:52] RhetTbull commented on #158
Also, while at it, it would be useful to add a `created.strftime` and `modified.strftime` that allow user to use any valid [strftime](https://strftime.org/) format string.  Use would be like this:

`{created.strftime,%Y-%m-%d}` to get 2020-06-08.

[2020-06-09 07:10] NiccoStar86 commented on #155
Hi @RhetTbull attached the result of the command! Thank you
[debug.txt](https://github.com/RhetTbull/osxphotos/files/4750455/debug.txt)

[2020-06-09 07:14] NiccoStar86 commented on #155
@RhetTbull I saw that already in Photos there is something of strange ...

<img width="596" alt="83981380-8d6b8100-a91d-11ea-90c6-f0ab00388db9" src="https://user-images.githubusercontent.com/7814756/84117124-51294500-aa31-11ea-966e-0e229d2752c3.png">

If after a "quick" check you don't find an explanation, I can try to delete and import the image again and see the result. I don't want to waste you

[2020-06-09 07:29] RhetTbull commented on #155
@NiccoStar86 Thanks for the debug data -- it clearly shows that Photos thinks this is a PNG that was imported as IMG_4745.JPG just as your screenshot shows.  For example, the UTI is set to PNG: `'UTI': 'public.png'`  I suggest you try to export the image from Photos (select photo then File | Export Unmodified original for 1 Photo) then in the Terminal, do

`file IMG_4754.JPG` (assuming that's what

[2020-06-09 07:52] NiccoStar86 commented on #155
@RhetTbull I think something went wrong during the first import of the file, because by exporting the image as "original - unmodified" the saved file is ".png" ...
<img width="722" alt="Schermata 2020-06-09 alle 09 49 25" src="https://user-images.githubusercontent.com/7814756/84120897-bc294a80-aa36-11ea-9b39-9ee6954fd231.png">

[2020-06-10 04:14] RhetTbull commented on #155
@NiccoStar86 I think you're right this was some sort of corrupted import.  I tried to replicate this for testing by renaming a PNG to jpeg then importing but I was not able to get the behavior you reported.  Photos added the image as a jpeg, set the UTI to jpeg, and when exported, named the photo .jpeg.  However, the image was clearly a PNG when inspected.  It seems the code in Photos that handles

[2020-06-10 06:11] #156 closed

[2020-06-10 07:00] NiccoStar86 commented on #155
@RhetTbull I totally agree with you. I deleted and re-imported the exported photo in Photos, then I execute again the osxphotos with --update without any error!

<img width="1177" alt="Schermata 2020-06-10 alle 08 56 02" src="https://user-images.githubusercontent.com/7814756/84236796-8c427b80-aaf8-11ea-9914-e2f3c98c4f65.png">

... and the photo was correctly exported, with the right extension.

<i

[2020-06-12 06:15] RhetTbull opened #160 "add push-exif command to CLI"
Some people still use photosmeta due to --inplace exif update feature.  Add a similar feature to osxphotos to update the metadata of the photos in the actual library without exporting.

[2020-06-12 17:19] RhetTbull opened #161 "add --merge-keywords option to CLI"
When using --exiftool, metadata, including keywords, in the exported file are overwritten with new metadata.  It's possible the user edited the metadata which would then get overwritten on update.  A --merge-keywords option would merge the exported keywords with the keywords already in the file thus preserving the user's changes.  This might be especially useful with addition of inplace command

[2020-06-13 14:30] mccarverone commented on #136
Having this issue with many .MOV. These files do not belong on iCloud Photo Library or any shared album. They result missing while being played locally with no issue. Photo 5.0 (151.19.150). Let me know if I can help with the debug. Regards

[2020-06-13 15:17] RhetTbull commented on #136
@mccarverone some additional debug data would be helpful.  Try the following:

`osxphotos query --missing`

This will print out a list of all photos reported as missing.  Find one of the .MOV files you know is missing and locate it's UUID (unique identifier) which is a string of seemingly random characters that looks like `AAEF4330-9B36-4CB1-88F6-D68048B36D04`

If you know the name of one of these

[2020-06-13 17:31] RhetTbull commented on #136
v0.29.14 seems to fix this

[2020-06-13 17:31] #136 closed

[2020-06-13 17:32] #158 closed

[2020-06-13 21:53] RhetTbull opened #162 "Extend --ignore-case to persons, keywords, albums"

[2020-06-13 22:06] #162 closed

[2020-06-14 02:40] #157 closed

[2020-06-14 15:09] #122 closed

[2020-06-14 15:09] #141 closed

[2020-06-14 20:07] RhetTbull opened #163 "Add height and width and orientation to PhotoInfo"
Photos 5:

[code]

Photos 4:
[code]

[2020-06-14 20:19] RhetTbull commented on #163
Also need to figure out how to represent orientation (which is stored as exif flag 1 through 8)

https://magnushoff.com/articles/jpeg-orientation/

[2020-06-14 23:50] RhetTbull opened #164 "export should warn user if .osxphotos_export.db found anywhere in the branch"
If user exported to /path/to/export then tried to do another export to /path/to/export/2020, the second export would clobber the first -- warn the user if this were to happen

[2020-06-15 00:52] #164 closed

[2020-06-15 14:38] RhetTbull commented on #80
Definitely crashes at seemingly random times on Catalina.  Add a try/catch block to the applescript for export.  The crash appears to be related to this line:

[code]

[2020-06-15 14:40] RhetTbull opened #165 "Add error counts to summary stats for CLI export"
Track errors (e.g. file was missing, --download-missing failed) to count of photos at end and add option to print summary list of all photos that had errors (perhaps create an error log in the .osxphotos_export.db)

[2020-06-15 19:19] RhetTbull opened #166 "Add --description-template to CLI"
Use case is to allow user to add text to description on export.  e.g.

`osxphotos export /path/to/export --exiftool --description-template "{descr} Exported with osxphotos on {today.date}`

[2020-06-15 19:22] RhetTbull opened #167 "Add "today" to datetime formatter"
Add {now} to datetime formatter and template system to allow specifying current date/time in templates.

[2020-06-19 13:57] garz75 opened #169 "Album with unknown kind "1500" (Photos.app 5.0)"
Hello,
Something weird happened while trying to export an album  created recently:
[code]
I was surprised to have 2 directories created instead of 1 (the 3 photos in this album are in only one album): there was this weird 268565486 directory created. this album is not visible in the Photos app but "exists" in the Photos db, here it is as seen in the `osxphotos debug-dump --dump albums` output:
[co

[2020-06-19 15:53] RhetTbull commented on #169
Thanks @garz75 ! I'll take a look this weekend and see what I can figure out. Since Apple doesn't document the Photos database everything I've done is figured out by trial & error and reverse engineering -- there's still many things like these different album kinds I haven't sorted out.

If you run `osxphotos albums` does this album show up in the list?

[2020-06-20 15:46] RhetTbull commented on #169
@garz75 I think I've fixed this in [v0.29.23](https://github.com/RhetTbull/osxphotos/releases/tag/v0.29.23).  Give it a try and let me know if you still have the problem with the mystery album.  I have seen these album with `'kind': 1500` before but have not been able to reverse engineer what it is.  For the fix, I filter out only albums with known kinds (regular album, shared album).

[2020-06-20 20:40] garz75 commented on #169
Yes, well done. The `export` command above does not create this 268565486 directory anymore. But the album is still reported wit the command `osxphotos albums`
[code]

[2020-06-20 20:41] RhetTbull commented on #169
Thanks.  I think it should not show up in `osxphotos albums` either as it's not a "real" album.  I'll work on a fix for that too.

[2020-06-20 20:52] garz75 commented on #169
I agree. Thanks again for the quick fix

[2020-06-20 21:29] RhetTbull opened #170 "If photo in two albums with same name, --directory = "{album}" will output dupes"

[2020-06-21 00:38] RhetTbull commented on #169
I've refactored all the album code and believe this should now be fixed (e.g. you won't see the mystery album in `osxphotos albums` nor when exporting).  See [v0.29.24](https://github.com/RhetTbull/osxphotos/releases/tag/v0.29.24).  In doing so, I discovered (and fixed) another bug in that empty albums wouldn't show up in `osxphotos albums`.

[2020-06-21 03:53] RhetTbull opened #171 "replace 'which' call with shutil.which"
[code]

[2020-06-21 08:57] garz75 commented on #169
Confirmed. my 1500 album does not show up anymore in albums listing. Thank you again.

[2020-06-21 12:41] jslttery opened #172 "Crash on export of photo with no postal address."
I have a photo in my album taken mid-flight and when trying to export with:

I get the following crash:

[code]

I've exported the photo manually from Photos with the IPTC information which is attached (added .txt extension to get it to upload).

[IMG_0438.xmp.txt](https://github.com/RhetTbull/osxphotos/files/4809451/IMG_0438.xmp.txt)

I'm on Version 0.29.24 (installed via pip3 on MacOS 10.15.5):

[2020-06-21 15:18] #169 closed

[2020-06-21 15:54] RhetTbull commented on #172
I think I've fixed this in [v0.29.26](https://github.com/RhetTbull/osxphotos/releases/tag/v0.29.26) but can't test as I don't have a photo that returns valid reverse-geolocation data but no address as in your example. Try `pip3 install --upgrade osxphotos` and let me know if you still get the problem.

[2020-06-21 16:54] jslttery commented on #172
@RhetTbull  -  v0.29.26 process and exports my troublesome photo just fine.

Many thanks for the quick fix and also for an excellent tool. This has resolved a long-standing annoyance I've had with iPhone photos in Photos and everything else in Lightroom. I can now export with hard links from Photos and reference from Lightroom - very very nice.

[2020-06-21 16:54] #172 closed

[2020-06-21 17:56] RhetTbull opened #173 "PhotoInfo.filename should return name of raw file if raw_original is set"

[2020-06-22 04:58] #167 closed

[2020-06-22 05:31] RhetTbull commented on #166
How to handle multi-value keywords?  Perhaps add `{keyword_list}`, `{person_list}`, etc?  These would concatenate the multi-value templates into a single string

[2020-06-22 05:42] RhetTbull opened #174 "PlaceInfo.address should return empty PostalAddress if no address"
Instead of returning None, it would be better if `address` returned a PostalAddress tuple initialized with None

https://github.com/RhetTbull/osxphotos/blob/c8d76a89e47a7a4f1ffd63ba2235cf8472c90ac5/osxphotos/placeinfo.py#L535-L549

[2020-06-22 14:10] RhetTbull opened #175 "Add GPS info to XMP sidecar"
[code]

[2020-06-22 14:14] #174 closed

[2020-06-23 13:20] RhetTbull opened #176 "PhotoInfo.export should default to original filename, not current filename"
This would mirror the behavior of Photos and, with Photos 5 name mangling, likely be what the user expects

[2020-06-23 13:21] RhetTbull opened #177 "PhotosDB.photos() should default to all including movies"
Change default to `movies=True`

[2020-06-23 14:58] romainjouin opened #178 "#bug replace datetime.date by datetime on line 801 of photosdb.py"
There is a bug on python 3.8 for line 801 of file photosdb.py :datetime.date should be a simple datetime
[code]
See : https://stackoverflow.com/questions/62536615/mac-os-photos-programatic-access-to-the-recently-deleted-photos-folder

[2020-06-23 19:17] RhetTbull commented on #178
@romainjouin I just pushed a fix in v0.29.29

I'll keep this issue open until I add a test -- test suite should have caught this.

In reading your stackoverflow question, I see you're trying to access photos that are in the "Recently deleted items" or trash folder.  osxphotos does not currently provide access to those because no one has ever requested it. I will open a new issue to add this featur

[2020-06-23 19:19] RhetTbull commented on #178
Add test case for photo with invalid time

[2020-06-23 19:28] RhetTbull opened #179 "Provide access to deleted / intrash photos"
Provide access to deleted photos

optional arg to `PhotosDB.photos(intrash=False)`

if `intrash=True`, `photos()` would return deleted photos too.

Add `PhotoInfo.intrash` property

[2020-06-24 05:18] #178 closed

[2020-06-26 14:42] RhetTbull opened #180 "Add workflow to push to PyPI"
See https://github.com/pypa/gh-action-pypi-publish

[2020-06-27 18:58] RhetTbull commented on #179
Added this in v0.30.0, now need to add --deleted, --deleted-only to osxphotos CLI

[2020-06-27 19:57] #177 closed

[2020-06-28 17:02] #179 closed

[2020-06-28 20:55] RhetTbull commented on #166
Added `expand_inplace` arg for `PhotoTemplate.render()`.  This will allow the expansion of multi-valued templates for description. For example:
`--description-template "{desc} {keywords}"` might result in: `"Existing description keyword1,keyword2,keyword3"`

[2020-06-29 03:10] #166 closed

[2020-06-29 13:28] RhetTbull commented on #21
Need to add height, width, orientation to PhotoInfo.  (Should add size while I'm at it)

[2020-06-29 13:37] RhetTbull commented on #21
See this note on [orientation](http://sylvana.net/jpegcrop/exif_orientation.html)

[2020-06-29 16:26] RhetTbull opened #181 "Add PersonInfo class with additional person details"
Currently only store full name, -- table includes some additional details that might be useful

[code]

[code]

[2020-06-29 16:29] RhetTbull commented on #21
Photos 4
[code]

Photos 5
[code]

[2020-06-30 13:50] RhetTbull commented on #40
See SQL query here:
https://github.com/jensb/iphoto2xmp/blob/2e47eacb45f385f9447fa674ef0bbd5a362c14d8/iphoto2xmp.rb#L261-L306

[2020-07-01 05:42] RhetTbull commented on #48
ZGENERICASSET.ZIMPORTSESSION = FOK for ZGENERICALBUM.Z_PK
ZGENERICALBUM.ZKIND  = 1506 appears to be import session

[2020-07-01 22:30] neilpa opened #182 "Documenting Photos Library Structure?"
Hi @RhetTbull. I noticed you stumbled onto my [phace](github.com/neilpa/phace) repo from a few years ago. I've recently started hacking on it again post-Catalina. Wish I had known about your project earlier before I spent several evenings re-reverse-engineering the new DB structure.

I've been planning on writing up my raw notes in a more palatable format and figured `osxphotos` could be a good la

[2020-07-01 23:13] RhetTbull commented on #182
Hi @neilpa -- yes, I think that's a great idea! Not much in the wiki at the moment but I would like to create a definitive repository of information about Photos so we could help others avoid having to reverse engineer things all over again!  I welcome any contributions you'd like to make to the wiki.  I think I've fixed the wiki permissions so you can collaborate -- let me know if it doesn't work

[2020-07-02 16:58] neilpa commented on #182
You probably already know all of the details I outline, but I wrote up a [getting started blog post about this sort of reverse engineering focused on getting at the face tag data](https://neilpa.me/2018-12-07-mac-photos-library/). If you scroll to the bottom it has a bit of the info you might be interested in (although it's for pre-Catalina).

I had intended to write a couple of follow-ups with mo

[2020-07-03 16:04] #175 closed

[2020-07-03 18:05] RhetTbull opened #183 "Document and add tests for raw_original, has_raw"
These are implemented but not tested/documented

[2020-07-03 18:25] #163 closed

[2020-07-04 17:31] RhetTbull commented on #102
@iwoj Are you still having this issue or does latest version of osxphotos process your database correctly?

[2020-07-05 19:29] Rott-Apple opened #184 "Provide access to album sort order"
While exporting an album in which photos have been manually reordered, the organization seems to be preserved in Catalina but not Mojave.

[2020-07-05 20:51] RhetTbull commented on #184
I don't quite understand the use case?  If exporting, then exported images are just a set of files in a directory -- there's no inherent order.  Do you mean the order in which files are written to disk?  I'm not sure this even matters as the file creation date is preserved when exporting.  If you're referring to programmatically accessing the images via an `AlbumInfo` object, I'll have to look int

[2020-07-05 23:47] RhetTbull commented on #184
I think I've figured out where the album sort order data is stored in Catalina.   The table `Z_26ASSETS` maps albums to photos.  It has 3 columns:

- `Z_26ALBUMS`: foreign key to `ZGENERICALBUM`
- `Z_34ASSETS`: foreign key to `ZGENERICASSET`
- `Z_FOK_34ASSETS`: while this appears to be a foreign key I think it's actually a sort order (see discussion below)

If you add photos to an album, the value

[2020-07-06 05:05] Rott-Apple commented on #184
Thanks, this is most helpful.

[2020-07-06 05:22] Rott-Apple commented on #184
OSXPhotos didn't preserve custom ordering so I am trying to write my own export script. The use case is this: After creating an album in Photos app, I can rearrange the photos within that album. I now want to export the album as a folder to Dropbox while preserving the ordering within the exported folder. This would be useful e.g. to share the exported album (folder) with a Windows PC user with th

[2020-07-06 07:09] RhetTbull commented on #184
Ah, makes sense.  You're correct that `osxphotos` does not preserve sort order as I hadn't considered this use case.  I've figured out where this data is stored in Catalina so I'll modify `AlbumInfo.photos()` to return photos in album sort order.

I'll need to a take a look at Mojave database again to see if I can figure out where the album order is stored.

What format are you using for photo exp

[2020-07-06 08:13] RhetTbull commented on #184
@Rott-Apple Found the sort order for Mojave!  It's stored in table `RKCustomSortOrder`

The highlighted rows in screenshot below show 4 photos in an album with default sort order.  Note the `orderNumber` column uses a similar scheme as in Catalina (start at 1024 and increment by 2^10).  `containerUuid` is the album UUID  (`RKAlbum.uuid`) and `objectUuid` is the photo UUID (`RKVersion.uuid`).

<img

[2020-07-06 09:20] Rott-Apple commented on #184
I was thinking of renaming and renumbering the photos and videos in reordered albums as "album_name 00n.filetype", where 00n will increment based on the custom ordering.

[2020-07-06 10:15] Rott-Apple commented on #184
Brilliant! You must practically _live_ inside photos.db to know it so intimately! One typo to fix in your reply (to help others who read it): "orderNumber changed from 4096 to 1536, placing it first in the album" should be "changed from 3072 to 1536". I'll experiment a bit more by rearranging a test album to understand why 3072 changed to 1536 and not 1024, how does renumbering work as I move more

[2020-07-06 16:58] RhetTbull opened #185 "add key_photo to AlbumInfo"
Would return PhotoInfo object for the key photo of an album

[2020-07-06 17:39] RhetTbull commented on #184
@Rott-Apple I've fixed `AlbumInfo.photos` to return photos in the same sort order as Photos in version [0.30.10](https://github.com/RhetTbull/osxphotos/releases/tag/v0.30.10).

This should simplify the export script to something like:

[code]

[2020-07-06 17:39] #184 closed

[2020-07-06 21:43] RhetTbull opened #186 "add album_sequence and album_total to template system"
Implementing this would allow something like:

`--filename "{album_name} {album_sequence} of {album_total}"`

These would need to know the current album for the template.  This could be added as additional metadata on each rendered string in `phototemplate.py`:

https://github.com/RhetTbull/osxphotos/blob/091e7b8f2e3fb965ad3120ff639fa1b7b37db062/osxphotos/phototemplate.py#L268-L271

Then add a sep

[2020-07-06 22:59] RhetTbull commented on #185
In Photos <= 4, appears that key photo is `RKAlbum.posterVersionUuid`
In Photos 5, appears that key photo is `ZGENERICALBUM.ZKEYASSET` which likely points to `ZGENERICASSET.Z_PK`

[2020-07-07 05:01] #182 closed

[2020-07-07 19:37] neilpa commented on #182
I made a few some updates to the [Photos v5 page](https://github.com/RhetTbull/osxphotos/wiki/Photos-version-5-database) and stubbed out some more things that would be useful to write about. Hopefully I'll find some more time to follow up on that.

[2020-07-07 19:53] RhetTbull commented on #182
Thanks!  I added some details on Album sort order that I worked out over the weekend and will keep updating.  My next big push will be to provide an interface to face details.  I did some refactoring this weekend to make it easier to add in faces and link them to persons.

[2020-07-07 20:16] neilpa commented on #184
@Rott-Apple Having implemented user-defined custom sort orders at former `$DAY_JOB`s I can shed some light. The idea is to leave gaps in the sorting numbers so that re-ordering operations can be applied with a minimal number of updates to other items in the collection. In this case, I suspect what was originally the 3072 photo actually got moved between the 1024 and 2048 sorted photos `(1536 = 102

[2020-07-07 20:22] neilpa commented on #182
I noticed that and much appreciate it. That was actually one of the items I had on my list to figure out next since I wanted the same feature that was requested in #184

[2020-07-09 18:20] RhetTbull opened #187 "Update osxphotos to run on MacOS Big Sur/MacOS 11/MacOS 10.16"
Initial alpha support added for Big Sur -- if you are using the beta and want to test osxphotos, feedback is much appreciated!

[2020-07-12 15:44] RhetTbull opened #188 "Add .asdict() to PhotoInfo"

[2020-07-13 14:17] RhetTbull opened #189 "Optimize PhotosDB.photos() for most common use case"
PhotosDB.photos() is slow for the most common use case (return all photos).  Optimize for the most common case by returning all photos if no arguments passed and short-circuiting the search logic.

[2020-07-18 05:06] #181 closed

[2020-07-19 14:37] RhetTbull commented on #21
Working with this query on Photos 5

[code]

[2020-07-19 14:58] RhetTbull commented on #21
`ZAGETYPE`:
0 =  ?? (have seen children and adults; perhaps "unknown" or "not yet processed")?
1 = infant
2 = child
3 = older child
4 = ??
5 = adult

`ZBALDTYPE`:
0 = ??
1 = not seen in database
2 = not much hair
3 = has hair

[2020-07-19 23:20] RhetTbull commented on #21
For Photos 4:

[code]

[2020-07-20 17:14] neilpa commented on #21
The ["drawing" code](https://github.com/neilpa/phace/blob/7594776480505d0c389688a42099c94ac5d34f3f/cmd/phace/draw.go#L34-L57) that handles this for Photos 4. And the [orientation adjustments](https://github.com/neilpa/phace/blob/7594776480505d0c389688a42099c94ac5d34f3f/cmd/phace/draw.go#L79-L94) that I validated against my personal photos lib at the time.

[2020-07-20 19:08] RhetTbull commented on #21
@neilpa perfect--thanks!  I did a lot of work on this over the weekend and have added a `FaceInfo` object with all the relevant details (not yet committed to GitHub).  I was able the bounding box correct for all exif cases but hadn't yet figured out the transforms for the other points. (I ended up with upside down faces for example on photos that had been rotated).

[2020-07-21 14:13] RhetTbull commented on #21
Thanks to @neilpa I've got the bounding boxes and face points working for all EXIF orientations....except for pictures rotated inside Photos.  Photos rotated using `Image | Rotate` don't change the value for `ZORIENTATION` and I've not yet been able to decipher how Photos is storing the orientation for these.

[2020-07-23 19:34] RhetTbull opened #193 "PhotosDB.photos from_date and to_date give incorrect results"
from_date and to_date don't account for timezone.  Code treats `imageDate` as if it's local timezone when in fact it might be in a different timezone.

Look at here:
https://github.com/RhetTbull/osxphotos/blob/65b84ad345a7a6dceea784766217990086c9bc09/osxphotos/photosdb/photosdb.py#L954-L962

And implement something like `PhotoInfo.date`:
https://github.com/RhetTbull/osxphotos/blob/65b84ad345a7a6dc

[2020-07-23 22:24] neilpa commented on #21
I was going to guess that this would end up in `ZADJUSTMENT` or `ZUNMANAGEDADJUSTMENT` but that doesn't appear to be the case from looking at the records I have for my photos lib.

I've got a few different hacks which can partially "diff" two different snapshots of the photos DB. It's come in handy for reverse engineering stuff but I mostly use it to detect and backup newly imported assets. I'll s

[2020-07-23 22:28] neilpa commented on #21
Also, if you haven't already, you should look at the `ACHANGE`, `ATRANSACTION`, and `ATRANSACTIONSTRING` tables. Those have helped me decipher how things fit together. Especially when trying to trace the meanings of numeric identifiers across tables. (In that case I usually just create a SQL dump and `grep` the output text file).

[2020-07-23 22:44] RhetTbull commented on #21
Thanks. I've been using [sqldiff](https://www.sqlite.org/sqldiff.html) a lot to compare the database between changes.  It looks like the Photos adjustments, including rotation, are in a `.plist` file in the same file as the edited images (`resources/renders/X/` where X is first character of UUID) but the adjustment data is stored in a binary format I've not yet tried to decipher.   All adjustments

[2020-07-23 22:53] neilpa commented on #21
Thanks for the pointers, especially `sqldiff`. Can't believe I haven't seen that before.

[2020-07-24 01:17] neilpa commented on #21
I spent some time poking at this but haven't deciphired the format of the embedded blobs in the `:adjustmentData` field of the `.plist` files you mention. I did a little hex dump slicing, dicing, and diffing but nothing obvious jumped out. Will likely need a more methodical approach that I didn't have time for at the moment.

Also, In my limited testing though it doesn't look like `ZDATASTOREKEYDA

[2020-07-24 12:53] PabloKohan commented on #193
I'd leave the `imageDate` as UTC, but make the `from_date`/`to_date` TZ aware (or TZ neutral).

[2020-07-24 13:37] RhetTbull opened #194 "Add option to update image file time based on EXIF DateTimeOriginal"
from @PabloKohan
 'touch' the exported file date/time based on the DateTimeOriginal (or ContentCreateDate) from the file's exif info.

This will be tricky given the current implementation of `--update` which looks uses `os.stat` to compare files (which is much faster than a diff or MD5).

[2020-07-25 15:54] RhetTbull commented on #21
The `.plist` file in the renders folder is a serialized [PHAdjustmentData](https://developer.apple.com/documentation/photokit/phadjustmentdata) object.  Unfortunately, the specification for the `adjustmentData` property is not specified -- it's free form data that any application that edits photos via `PhotoKit` can set.  So in this case, we need to look at the Photos specific format which Apple d

[2020-07-25 16:21] RhetTbull commented on #21
I think I found it!  Was looking in the wrong place.  The rotation information for images edited in Photos doesn't appear to be stored in the database but the rotation of the face itself is stored in `ZDETECTEDFACE.ZROLL` and `ZDETECTEDFACE.ZYAW`.  These appear to be angles in radians so I should be able to rotate the face points accordingly.  It appears that `ZROLL` is the angle in radians the fa

[2020-07-25 18:42] neilpa commented on #21
Same for me. I spent a couple hours with [Hex Fiend](https://github.com/ridiculousfish/HexFiend) yesterday evening looking at various diffs and have yet to make any real progress. Surprising since it's only ~150 bytes of data.

Awesome that you figured this out for photos with detected faces at least.

[2020-07-26 10:51] bevadey opened #195 "Issue when starting and opening DB"
With this simple code I have this issue.
import osxphotos
photosdb = osxphotos.PhotosDB(dbfile="/Users/.../Pictures/2020.photoslibrary/database/photos.db")

Error copying /Users/.../Pictures/2020.photoslibrary/database/photos.db to /var/folders/vf/3t083h9j1jx9mhxwwvzmpvhc0000gn/T/osxphotos_7v_3k1tb/photos.db
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3

[2020-07-26 13:31] RhetTbull commented on #195
1. What version of MacOS are you using?
2. What version of python are you using?
3. Is the Photos library you're opening in your home directory or is it in another users?
4. Do you still get the error if you call `PhotosDB` with no arguments (e.g. open the default database)?
[code]
5. Have you tried running the script with sudo? `sudo python3 your_script.py`
6. Check `System Preferences | Security

[2020-07-26 14:56] bevadey commented on #195
Thank you for your answer.

10.16.6

3.8

Yes

BUT
I ‘ve tried running the script from ‘terminal’: python3 your_script.py and it’s WORKING !

I was using the terminal window in VScode where I have always the same error.

[2020-07-26 15:30] RhetTbull commented on #195
Ah...that makes sense.  You may need to add VSCode to "Full Disk Access" and "Developer Tools" in Security & Privacy.

[2020-07-26 16:03] bevadey commented on #195
Yes, you’re right.
Working in VScode now.
Thank you very much

[2020-07-26 16:14] #195 closed

[2020-07-27 13:16] RhetTbull opened #196 "FaceInfo coordinates (mouth, eyes) may not be correct for images where head is tilted"
If face has pitch and yaw, the translated eye and mouth coordinates are not correct -- need to figure this out and update `_make_point_with_rotation`

[2020-07-27 13:31] RhetTbull commented on #21
[v0.31.0](https://github.com/RhetTbull/osxphotos/releases/tag/v0.31.0) has initial support for face regions. See [docs](https://github.com/RhetTbull/osxphotos#faceinfo).  Note: The bounding box for the face region appears to be correct for all possible rotations and flips of the image but for the `left_eye`, `right_eye`, and `mouth` properties which return coordinates (in the image coordinate fram

[2020-07-28 06:13] RhetTbull commented on #21
Now need to add face regions to XMP sidecars.  See [iphoto2xmp](https://github.com/jensb/iphoto2xmp):

https://github.com/jensb/iphoto2xmp/blob/2e47eacb45f385f9447fa674ef0bbd5a362c14d8/iphoto2xmp_template.xmp.erb#L141-L160

[2020-07-30 12:45] RhetTbull opened #197 "Add XMP validation test"
`exiftool -validate -warning FILE.xmp`

[2020-08-01 14:22] RhetTbull opened #198 "Expose _constants and _xmp_sidecar"
A number of things that are potentially useful to users of the library are labeled as "for internal use" with leading underscore.  e.g. `_constants` and `_xmp_sidecar`.  Refactor the code to minimize the use of these for things that other programmers might want to use.

[2020-08-01 14:31] RhetTbull opened #199 "Refactor tests"
Tests do a lot of creating of PhotosDB instance when a single instance could used as a fixture
Also, mosts tests that need to create temp files do so manually instead of using pytests [tmp_path](https://docs.pytest.org/en/stable/tmpdir.html) fixture.

[2020-08-01 14:58] #197 closed

[2020-08-02 15:48] RhetTbull commented on #21
I think the XMP sidecar is now properly encoding the face regions...however, I've not been able to find a way to test this.  I've tried both Digikam and Lightroom, both of which I'm unfamiliar with, and can't figure out how to get them to import face regions from an XMP file despite hours of googling.  I'm going to put this issue on hold until I can find an app or some code that will show me the f

[2020-08-03 23:19] neilpa commented on #21
I hit this exact same issue when working on this in phace. I could not find an app that actually used the encoded face regions. IIRC the docs for DigiKam claimed to but in all my experimenting I couldn't find an example of it working. Best I did was find some sample images with the XMP face regions already encoded and made sure I could round-trip the data based on my understanding of the format.

[2020-08-04 04:10] RhetTbull commented on #21
@neilpa I've figured out how to make DigiKam at least write the XMP files with embedded face regions.  My plan is to mark face regions in DigiKam then export the XMP files for a bunch of photos in every possible EXIF orientation then write a program that reads the XMP files and draws the face regions with Pillow.  Assuming DigiKam is properly encoding the face regions and I can visually verify tha

[2020-08-07 13:32] RhetTbull commented on #187
I've installed the public beta and have basic functionality working in a hack just to see if we can parse the library.  Big changes:

- `ZGENERICASSET` is now `ZASSET`
- Some of primary key mappings in `ZPRIMARYKEYS` have changed so the SQL queries need to be updated
- I can't figure out how to get the DB version.  There's still a photos.db but it still says library version `6000` which is the Pho

[2020-08-07 15:44] RhetTbull commented on #187
Library version cannot be gotten from `photos.db` as done in previous versions because it's now deprecated.  Photos still creates a photos.db but it looks identical to the Photos5 version.  I did a [sqldiff](https://www.sqlite.org/sqldiff.html) on databases after upgrade to Photos 6 format -- the most reliable way to determine version so far seems to be in  `Z_METADATA.Z_PLIST` which is a `blob` c

[2020-08-07 23:42] RhetTbull opened #200 "Add list of contributors to docs"

[2020-08-08 15:15] RhetTbull commented on #187
See changes detailed in the [wiki](https://github.com/RhetTbull/osxphotos/wiki/Schema-Changes-from-Photos-5-to-Photos-6).

[2020-08-08 22:09] RhetTbull commented on #193
Need to do this for `lastmodifieddate` as well

[2020-08-09 15:31] RhetTbull commented on #187
Alpha version working for Photos 6 / Big Sur!
[code]

[2020-08-10 00:56] #200 closed

[2020-08-10 00:59] RhetTbull commented on #170
After looking at the code I've confirmed this isn't actually a bug.  The template code uses a `set` when generating templates to intentionally avoid duplicates so only a single photo will be exported if a template produces more than one match.

[2020-08-10 00:59] #170 closed

[2020-08-10 01:09] #171 closed

[2020-08-10 15:36] RhetTbull opened #201 "Add creation_date, start_date, end_date to AlbumInfo"
Needed for import sessions (issue #48) but will be useful for other purposes too.

[2020-08-14 00:19] RhetTbull opened #202 "Add PhotoInfo.duration"
Add duration property for videos

[2020-08-16 20:42] mccarverone opened #203 "Portrait mode is not tagged correctly"
Osxphotos 0.32.0 - When I get photos details from a python script I have pictures taken in portrait mode not correctly tagged as such: portrait property of PhotoDB.photos stays False. Instead they are reported as edited even if no adjustments were made.

Thanks for your continuous work on this project.

[2020-08-17 00:22] RhetTbull commented on #203
@mccarverone  If you're able to do try the following and send the data to me or post here, that'll be helpful for debugging.

First, get the UUID of one of the images in question.  In your script, you can do that via the `.uuid` property of the PhotoInfo object.  It should look something like: `03AD4703-ED12-4682-978D-B784E8AB8E9A`

Then, run this command substituting the UUID from step 1 for the

[2020-08-17 06:19] #201 closed

[2020-08-17 06:20] RhetTbull commented on #48
V0.33.0 adds ImportInfo for Photos 5+

[2020-08-17 23:31] RhetTbull commented on #203
I think I may have found it -- all portrait photos and only portrait photos (at least as far as I can see in my library) appear to have a "depth state" value.  I should be able to use this to identify portrait photos--however, the schema for depth state in the database changed in the new MacOS Big Sur beta so I'll have to engineer a solution that works for both database versions. 

In Photos 5 / C

[2020-08-17 23:33] RhetTbull commented on #203
I was using `ZGENERICASSET.ZCUSTOMRENDEREDVALUE` to identify Portrait photos and have seen values of 7, 8, and 9 for this and in one case 2.  Though not all photos with value of 2 are portraits.

[2020-08-18 13:00] #194 closed

[2020-08-18 13:42] RhetTbull opened #206 "Fix --touch-file to work with --update"
If files are exported with --touch-file then an exported file is "touched" and export run again with --update, the touched file is not updated.

[2020-08-23 18:18] #206 closed

[2020-08-23 23:46] RhetTbull commented on #203
@mccarverone I think this is fixed for Catalina / Big Sur in [v0.33.3](https://github.com/RhetTbull/osxphotos/releases/tag/v0.33.3).  Let me know if you have any more issues.  I still need to do some testing for Mojave and below.

[2020-08-24 12:35] RhetTbull commented on #193
At least one user reports from_date, to_date working incorrectly since [fc416ea](https://github.com/RhetTbull/osxphotos/commit/fc416ea0b746413d2ac2f1dd2f1bc200227013ed)

[2020-08-24 13:00] jotzet79 opened #208 "Encoding issues with non-english characters in album titles"
When having Album titles with "strange" (non-english, e.g. german umlaut / diaretics) characters in it, queries with that album title result in empty resultsets, and therefore exports yield to no output as well.

E.g.
"2018-10 - Sponsion, Museum, Fru\u0308hstu\u0308ck, Ro\u0308mermuseum" instead of
"2018-10 - Sponsion, Museum, Frühstück, Römermuseum"

[2020-08-24 13:03] RhetTbull commented on #208
@jotzet79 Thanks for reporting this -- I'll look into it.

[2020-08-24 17:10] RhetTbull opened #209 "Cleanup test libraries"
Test photo libraries have grown large (> 1GB).  Remove test libraries for all but the latest version of each major release.

[2020-08-25 13:43] #193 closed

[2020-08-25 15:57] mccarverone opened #210 "XMP sidecar collisions"
I noticed that in case a live photo is exported with a sidecar, both .HEIC and .MOV share the same .XMP file. This is confusing for other software as it is treated as a sidecar for both medias at the same time.
I suggest a couple of solutions:

- using the standard photoshop:SidecarForExtension to specify which media the sidecar is actually pointing at (https://www.exiv2.org/tags-xmp-photoshop.htm

[2020-08-25 20:44] RhetTbull commented on #210
@mccarverone Any reason not do to both of these?  E.g. add the `photoshop:SidecarForExtension` and also change the name to include original file extension?

[2020-08-25 21:04] mccarverone commented on #210
Definitely not an expert here. Personally I'd keep sidecar files as lightweight as possible, but it is more a matter of personal taste. I also have a hard time finding references at all on the matter. Probably having both solutions can't hurt.

[2020-08-26 08:13] jotzet79 commented on #208
If you need help in testing / debugging, just reach out to me...
BTW: JSON Output seems to be correct (e.g. piping to `„jq“`, only output in the normal operation mode seems to be broken!

[2020-08-26 13:02] RhetTbull commented on #208
Still looking into this.  Photos is encoding text differently than python -- e.g. the diacriticals are encoded as separate characters (see `len()` below) whereas python will internally handle the unicode string just fine.

[code]

[2020-08-26 13:08] RhetTbull commented on #208
@jotzet79 What's your use case?  Are you running the `osxphotos` command line utility or using the package in your own code?  If using the command line, you might try [iTerm](https://www.iterm2.com/) as a temporary fix -- it seemed to handle the encoding automatically in my initial tests. Either way, I'll still need to fix this but it might help you get work done now while waiting for a fix.

[2020-08-26 21:36] RhetTbull opened #211 "Accept UUIDs with "/L01/001" appended as used natively in Photos 5+"
This would allow easier interoperability with [PhotoScript](https://github.com/RhetTbull/PhotoScript)

[2020-08-27 03:46] RhetTbull commented on #208
I think the solution is to normalize all text from both the Photos database and as passed in from the command line.

[code]

[2020-08-28 17:51] neilpa commented on #210
Both seems like the right approach to me. I know that darktable defaults to appending `.xmp` while keeping the original file extension.

[2020-08-29 15:44] RhetTbull commented on #203
Confirmed behavior as expected on Mojave

[2020-08-29 15:44] #203 closed

[2020-08-31 12:34] RhetTbull commented on #208
@jotzet79 I think this is fixed in v0.33.7.  Take a look and let me know if it solves the problem.  I now normalize all unicode text when reading from the Photos database and again when reading input from the command line.

[2020-08-31 13:30] #210 closed

[2020-09-04 09:03] mccarverone commented on #203
I'll leave a maybe useful note for future reference: `ZGENERICASSET.ZHASADJUSTMENTS` is often flagged even if no actual adjustments were made (e.g. all portrait photos). I traced back real changes to photos such as free rotations, brightness, b&w to table `ACHANGE` which I think can hardly be reverse engineered. However fields `ACHANGE.ZTOMBSTONE*` (yeah, "tombstone") contains the UUID of photos t

[2020-09-04 13:58] RhetTbull commented on #203
Thanks.  I've not been able to figure out exactly what's going on with ACHANGE.  As far as detecting "real" adjustments, I could change `PhotoInfo.hasadjustments` to look at both `ZGENERICASSET.ZHASADJUSTMENTS` **and** look for presence of an edited image.  However, I think it's possible for the edited image to be in iCloud and not on the local disk if the user doesn't have Photos configured to st

[2020-09-04 16:05] jotzet79 commented on #208
Hi @RhetTbull,

It has gotten a bit better, nonetheless I still have strange (unicode entity) characters on bash:
`"2018-10 - Sponsion, Museum, Fr\xFChst\xFCck, R\xF6mermuseum"`
So I think we are definitely getting closer... Do you need additional debugging info?

Thank you,
Joachim

PS: I cannot say how grateful I am to having found this neat piece of sw-lib! I definitely will use it in my Export

[2020-09-04 16:08] RhetTbull commented on #208
Can you post or send me the exact command line (or code snippet if you're writing your own export method) you are using?  Also, are the unicode character codes appearing in the output of osxphotos command or are the actual export folders misnamed?

[2020-09-04 16:20] jotzet79 commented on #208
At the moment I'm simply running it from command line:
`osxphotos albums
Using last opened Photos library: /Users/.../Pictures/Fotos-Mediathek.photoslibrary
albums:
.
.
.
  2018-05 - Hochzeit Name1 & Name2: 35
  "2018-10 - Sponsion, Museum, Fr\xFChst\xFCck, R\xF6mermuseum": 34
.
.
.
`

[2020-09-04 18:20] RhetTbull commented on #208
Which version of MacOS are you using?
Which shell are you using? (you referenced bash above but just want to confirm)
Which terminal are you using (Terminal.app, iTerm.app, other?)

I've not been able to reproduce this. I created an album called `2018-10 - Sponsion, Museum, Frühstück, Römermuseum` and ran export with the same options you were using and both the verbose output on screen and the

[2020-09-06 17:45] ihsanturk commented on #159
I created a workaround script to remove originals if there are their edited versions: https://gist.github.com/ihsanturk/b5148e3107d8077a597cb7159b6c2ac2

[2020-09-06 21:52] mccarverone commented on #203
Hello sorry for the delay. I have been actually investigating this for a while and my conclusions are that the `hasadjustment` flag works in a consistent way. I was thrown out by a couple picture that were reported as modified, but were not actually modified. However they spontaneously changed back to 'not modified' just after opening them in Apple Photos. So an inconsistent database from my part

[2020-09-07 13:41] RhetTbull commented on #159
Added in v0.34.0

[2020-09-07 13:41] #159 closed

[2020-09-07 19:51] RhetTbull commented on #90
--touch-file does this, just need to check to see if exif data needs to be updated

[2020-09-07 22:27] garz75 commented on #159
Thank you @RhetTbull for adding this option! Seems to work as advertised ;-)

[2020-09-13 20:53] garz75 opened #213 "Export: / character in album name not handled properly when album name used as directory"
When exporting with these options :
`$ osxphotos export . --update --folder "2019" --directory "{album,NoAlbum}"  --person-keyword --keyword-template "{label}" --skip-original-if-edited --exiftool  --filename "{created.strftime,%Y-%m-%d-%H%M%S}"`

I have an album in the 2019 folder called "2019-10/11 Paris Clermont"
The export succeeds but this album content gets exported in the following director

[2020-09-13 23:38] RhetTbull commented on #213
@garz75 yep, definitely a bug.  I do check for valid filepaths:
https://github.com/RhetTbull/osxphotos/blob/eb00ffd73737ef4832229e4e6fd8dc4ccb0b8539/osxphotos/__main__.py#L2417-L2424

but didn't anticipate this issue.  Because I use `os.makedirs` to make the output directory, it happily creates the "extra" folder.  I think your suggestion of replacing the `/` with another character is likely the b

[2020-09-14 00:50] RhetTbull commented on #213
In Catalina, Finder does show the "/" in place of the ":"

Finder:
<img width="569" alt="Screen Shot 2020-09-13 at 5 48 11 PM" src="https://user-images.githubusercontent.com/41546558/93033066-71950c80-f5e9-11ea-92c7-79a2670846ee.png">

Terminal:
<img width="723" alt="Screen Shot 2020-09-13 at 5 50 15 PM" src="https://user-images.githubusercontent.com/41546558/93033102-9d17f700-f5e9-11ea-8ea2-a5b9a

[2020-09-14 01:22] RhetTbull commented on #213
@garz75 I've released a quick fix in [v0.34.2](https://github.com/RhetTbull/osxphotos/releases/tag/v0.34.2).  This fix changes "/" to ":" in album names.  However, a more complete fix will take additional time as I'll have to refactor the template code.  Currently the code that generates the template doesn't know if the template is for a directory (--directory) or to be used in a keyword, etc.  To

[2020-09-17 01:45] neilpa commented on #213
Woah, crazy that Finder blindly replaces `:` in a directory name with `/` for display. Guess this [originates from the pre-OSX days](https://stackoverflow.com/a/13298479/1999152) which was before I switched to macs.

[2020-09-18 16:51] Jwink3101 opened #214 "Request: Photo Comments"
Photos app (at least on Catalina+) stores comments in, say, a shared album. I did not seem to see a way to extract them from osxphotos API. Is there an easy way? I've looked at the database as sqlite and it is a mess but the comments are there!

Any ideas? I am also happy to try to help!

[2020-09-18 17:13] RhetTbull commented on #214
Hi @Jwink3101 currently `osxphotos` does not provide a way to get the comments.  A quick investigation indicates these are stored in `ZCLOUDSHAREDCOMMENT` table and are referenced in `ZGENERICASSET`.

This sounds like a useful addition.  I'm currently busy with another project but will add this to the queue as an enhancement.  If you'd like to try decoding the schema for associating comments with

[2020-09-19 20:45] neilpa opened #215 "Option for converting raw images on export"
Would it be feasible to add an option to always convert RAW images on export to JPEG? Any edited photos are already going to be JPEG but I've got a lot of un-edited raws w/out the JPEG preview. This would allow something like the following (totally made up `--raw-to-jpeg`) to quickly create a backup that is also extremely portable.

[code]

[2020-09-20 01:00] RhetTbull commented on #215
@neilpa I've thought about this for .heic (issue #73).  For .heic, `/usr/bin/sips` can do the conversion.  I'm not aware of any universal way to do this for various RAW formats that wouldn't require an external app however  Photos itself can convert the images.  That is in fact what happens when you export an image in Photos without selecting "Export unmodified original".

The code that interacts

[2020-09-20 07:43] RhetTbull commented on #214
This sql query will associate the shared cloud comments with a photo UUID:

[code]

[2020-09-20 07:57] RhetTbull opened #216 "expose owner name for shared albums"
`ZGENERICALBUM.ZCLOUDOWNERFULLNAME`

[2020-09-20 12:46] Jwink3101 commented on #214
Wow! I've been working on it myself but using a mixture of python and SQL. And an SQL dump to quickly grep for where some data is. There is certainly duplicate data on there.

I am an SQL noob so it's cool to see how it really should be done! I was fine with a Jacky version since multiple queries are fast on SQLite.

Thanks for sharing. It's always good to be learning new things!

[2020-09-20 15:27] RhetTbull commented on #214
I'm no SQL pro and there are a lot more succinct ways to write this query, for example, you could use an [alias](https://www.w3schools.com/sql/sql_alias.asp) to avoid having to write "ZCLOUDSHAREDCOMMENT" over and over. However, I did to be very explicit in all my queries for `osxphotos` because I find it to be more maintainable and more clear to someone browsing the code to understand the Photos

[2020-09-20 16:28] RhetTbull opened #217 "No way to get AlbumInfo object for shared folders"
`PhotosDB.album_info` doesn't return shared albums
Also, need `AlbumInfo.shared` and maybe even a `PhotoInfo.shared` to indicate album/photos is shared

[2020-09-20 16:34] RhetTbull commented on #214
@Jwink3101 this might get you started if you just want the comments and likes. I realized in throwing this together, there's a bug in `osxphotos` in that there's no easy way to get a shared album (only shared albums have comments) so I've opened issue #217 for that.

[code]

[2020-09-20 18:45] neilpa commented on #215
This is the answer I was afraid of.

Interesting, I wasn't aware of this built-in command and had been using the [libheif tools](https://github.com/strukturag/libheif)

Yea, I had a small hope that this would be available via PhotoKit without having to script the GUI. I can't imagine going that route once you start getting above 1k photos. Exporting of my full library of ~16k photos to a fast exte

[2020-09-20 19:27] RhetTbull commented on #215
Unfortunately that would cause `osxphotos` to re-export the image.  For `--update`, `osxphotos` looks at the file signature (mtime, size, mode) as well as information stored in `.osxphotos_export.db` so the zero length RAW would look like a change and thus another export would be triggered.

I would really like to do this via PhotoKit.  I'm not competent in Swift or Objective-C but I've played aro

[2020-09-20 19:40] RhetTbull commented on #215
Ooh...someone's created a python wrapper for [dcraw](http://www.dechifro.org/dcraw/): [pyunraw](https://pypi.org/project/pyunraw/)  -- that could be called from `osxphotos` to do the conversion.  One wrinkle is it's GPL3 licensed (as is `dcraw`).  I prefer a more permissive license and have kept everything in `osxphotos` to MIT licensed code or compatible.  I'm not a license expert so don't know i

[2020-09-20 19:49] RhetTbull commented on #215
Another possibility is to use a plug-in system.  For example:

`pip install osxphotos-plugin-raw-to-jpeg`

`osxphotos export /path/to/export --plugin raw-to-jpeg`

[2020-09-20 20:22] neilpa commented on #215
I hadn't actually used `dcraw` before and was doing some experiments this morning. I'm not sure it's going to work as well as I had hoped, at least for bulk exports. The default color correction leaves a lot to be desired. I also experimented with various options and got slightly better results. However, it doesn't compare to the default results I get from the Photos app (or something like Darktab

[2020-09-20 21:40] RhetTbull commented on #215
@neilpa if it's possible to do this without PhotoKit -- e.g. with CoreImage by passing the path to the RAW file, then we wouldn't need to worry about SIP.  The advantage of PhotoKit is you can get the image directly by UUID and even if it's in iCloud and not downloaded, PhotoKit will fetch it.  On the flip side, I think PhotoKit will only work with the "system library" and many people have more th

[2020-09-20 22:42] neilpa commented on #215
Good call on CoreImage, that makes the [conversion nearly trivial](https://stackoverflow.com/a/59334308/1999152). I did a quick test with that approach and it worked great for the raw images I tried.

As for the PhotoKit limitation, it may be possible to use a [custom library via the private header initialization methods](https://github.com/w0lfschild/macOS_headers/blob/e1f3eff2a5e91253435cbbb1bca

[2020-09-21 04:17] RhetTbull commented on #215
@neilpa that StackOverflow link was exactly what I needed....took a bit of fiddling, but I've created a pure Python implementation that uses CoreImage, via PyObjC, to convert RAW to jpeg.

Still needs testing, error handling, etc. but this should do the trick for both heic and RAW...and way better than scripting Photos.  Of course, if you're able to develop a PhotoKit interface that would be very

[2020-09-21 05:07] RhetTbull opened #218 "Handling of RAW images needs work"
Not sure this is working correctly:

https://github.com/RhetTbull/osxphotos/blob/aa2cf826c7864a3872b68579a6bfef4566c47fe0/osxphotos/photosdb/photosdb.py#L2136-L2159

[2020-09-21 05:24] RhetTbull commented on #218
[code]

[2020-09-21 05:25] RhetTbull commented on #218
See #183 ...apparently never tested these.  Doh!

[2020-09-21 05:43] RhetTbull commented on #218
Seems to be working *if* RAW + JPEG imported.  If RAW only, `has_raw` is False.  Need a way to determine `is_raw`

[2020-09-21 05:47] RhetTbull commented on #215
Thinking through interface.  Maybe something like:

`osxphotos export /path/to/export --convert-to-jpeg --jpeg-quality 0.75`

This would convert any *non-JPEG* file (not just RAW, so heic too), allow user to set jpeg conversion quality, and register the converted images in `.osxphotos_export.db` so `--update` worked correctly.

Alternatively, could do `--raw-to-jpeg` and `heic-to-jpeg` to be more

[2020-09-21 05:49] RhetTbull commented on #218
PhotoInfo.path_raw only returns correct path if a raw/jpeg pair.  It should always return path to the raw image even if there isn't a JPEG pair.

[2020-09-21 05:53] RhetTbull commented on #218
Another example:
[code]

[2020-09-21 06:07] RhetTbull opened #219 "add album_info_shared to docs and tests"
https://github.com/RhetTbull/osxphotos/blob/aa2cf826c7864a3872b68579a6bfef4566c47fe0/osxphotos/photosdb/photosdb.py#L445-L457

[2020-09-21 06:18] RhetTbull commented on #215
Maybe --skip-original-if-converted as there's already a --skip-original-if-edited

[2020-09-21 06:37] RhetTbull commented on #215
Apparently CIContext is [expensive](https://www.raywenderlich.com/2305-core-image-tutorial-getting-started ) to init -- maybe use a singleton class like I do for ExifTool. Need to do some benchmarking.

[2020-09-21 13:40] RhetTbull commented on #211
Fixed this by adding .uuid property to PhotoScript objects that produces the osxphotos compatible UUIDs.

[2020-09-21 13:40] #211 closed

[2020-09-21 16:35] RhetTbull commented on #218
`has_raw` only applies to images that have JPEG/RAW complement.  Need to add `is_raw` to determine if image is actually RAW (w/o a JPEG complement).  I've not been able to find a way to determine this from the database other than looking at UTI.  It does appear that UTI for every RAW format I've tested includes "raw-image" so looking at that is a possibility:

[code]

Lots of samples [here](https:

[2020-09-21 17:00] RhetTbull commented on #217
Turns out that `album_info_shared` is actually implemented, just not documented or tested, see issue #219

[2020-09-21 22:57] Jwink3101 commented on #214
Hey. Thanks for all of that. Again, it is cool to see how it is being done. I have hacked something together so far that does this. My needs are actually a bit more complicated and i am not opposed to a hack (my rule is that the process to get there can be hacky but the result needs to be clear since I may not be the consumer).

I am currently manually downloading the photos from the shared album

[2020-09-21 23:15] Jwink3101 commented on #214
Also worth noting that if this is going to go into your main code, it is also good to get the persons name. It was in one of your queries above but not the example python code.

Also, are you able to ascertain the timezone of these comments? I am not seeing anything like it in the db but I am also still exploring

[2020-09-21 23:44] neilpa commented on #215
Yea, you definitely want to reuse the context if possible. (There was a similar comment the the SO post I linked).

After spending some time with the private headers I was able to hack together some Objective-C code that successfully loads a photos library from an arbitrary path. I got far enough to fetch a `PHAsset` via UUID and validate a few properties, including the path on disk is expected.

[2020-09-22 00:52] RhetTbull commented on #214
I wasn't sure at first I could get the name of commenter but I think I can extract if from `ZCLOUDSHAREDALBUMINVITATIONRECORD` which shows who's been invited to a shared album.  The `ZINVITEEHASHEDPERSONID` column matches the `ZCLOUDSHAREDCOMMENT.ZCOMMENTERHASHEDPERSONID` and can be used to lookup `ZINVITEEFULLNAME`.

[code]

As for timezone of the comment, as best as I can tell it's in local time

[2020-09-22 22:59] neilpa commented on #218
There's also https://raw.pixls.us/ which is the successor to https://rawsamples.ch

[2020-09-23 03:40] neilpa commented on #215
Here's my initial Poc Xcode project - https://github.com/neilpa/photohack

If you add a [new Xcode scheme](https://shockoe.com/ideas/development/how-to-setup-configurations-and-schemes-in-xcode/) with the first argument as a path to a `*.photoslibrary` and subsequent arguments as asset UUIDs it'll dump adjustment data in a readable format. That should get you something like the following.

[code]

[2020-09-23 18:54] RhetTbull commented on #215
Got `photohack` working -- yay!  I'll try to learn enough swift to usefully contribute.  Now that you've proven this can be done, I've got lots of ideas for extending this.  For example, a simple interface that listened on stdin for command and spit output to stdout (perhaps as JSON) would be really useful.  You could open a pipe to the CLI with name of photos library as argument then emit command

[2020-09-25 00:58] neilpa commented on #215
I did more digging into the adjustment data and seem to have figured out the schema for the full scope of edits that are possible in the Photos app. There's a lot of details in https://github.com/neilpa/photohack/pull/1. I haven't done much testing yet on sample images but would be interesting to run this through the test libraries in this repo.

I also figured out how to make a [standalone binary

[2020-09-25 01:31] RhetTbull commented on #215
Great!  I'll do some experimenting this weekend with the test libraries and maybe eventually take a stab at writing some tests if I can figure out how to do so in XCode.

[2020-09-25 17:14] RhetTbull opened #220 "Add shell command line completions"
See https://github.com/click-contrib/click-completion

[2020-09-28 05:26] RhetTbull commented on #215
I'm close to having the initial implementation done for this.  Need to work on the `--update` code to keep files from being converted to jpeg when nothing's changed.  The first version I push out will only have a `--convert-to-jpeg` option that converts **all** non-jpeg images on export.  I'll then add a `--convert-raw-to-jpeg` that only converts raw images.  Will also need to add an option to set

[2020-09-28 14:12] RhetTbull opened #221 "--update --exiftool does not catch edited photo updated in Photos"
If user runs:

`osxphotos export ~/Desktop/export -V --update --exiftool`

then edits a photo which had previously *not* been edited in Photos and runs:

`osxphotos export ~/Desktop/export -V --update --exiftool`

`osxphotos` will see the new edited version and export it.  However, if user edits a photo that *had* previously been edited (`PhotoInfo.hasadjustments = True`), `osxphotos` will *not* s

[2020-09-28 14:23] RhetTbull commented on #221
I think to fix this, will need to add a `editdata` table to export db to track signature of the edited images.  Will need to update `_open_export_db` to check db version insert new table if needed:

https://github.com/RhetTbull/osxphotos/blob/432da7f139a5e4b37eeb358f4ede45314407f8e5/osxphotos/_export_db.py#L489-L520

Will also need to add a table to track converted images from `--convert-to-jpeg`

[2020-09-28 16:46] neilpa commented on #150
Could re-open this now based on the progress in https://github.com/RhetTbull/osxphotos/issues/215#issuecomment-698663130. Would also keep that issue focused on RAW conversion and could further discuss how to handle adjustment data here.

[2020-09-28 19:47] hhoeck opened #222 "Param --exiftool ruins --touch-file"
When using both --exiftool and --touch-file the exported files will have timestamp of osxphotos export run. This is due first files are exported with correct (modify) timestamp but after this Exiftool is applied and sets file timestmap to current one.
Adding "-P" the exiftool call should solve the issue. (osxphotos/osxphotos/exiftool.py  => insert line after 101)

[2020-10-01 14:44] RhetTbull opened #224 "path_edited incorrect/missing for heic photos on Big Sur"
Unlike other formats, if a heic photo is edited, the edited version is also a heic (on Big Sur).  Need to update `PhotoInfo.path_edited`.

[code]

[2020-10-01 15:55] RhetTbull opened #225 "edits to raw images are not exported"
Edits to raw images are stored as adjustments in a plist file but there is no associated jpeg image (at least on Big Sur, not yet tested Catalina).  Documentation needs to be updated to make it clear that edits to RAW images will not be exported.

[2020-10-01 16:14] RhetTbull commented on #225
Raw edits could be exported using `use_photos_export` with a new CLI option.  It's a bit kludgy but woudl work.  Better alternative would be to eventually create a helper utility based on [photohack](https://github.com/neilpa/photohack) that would re-create the edited image from adjustments data on export (or use PhotoKit to get the edited image).

[2020-10-01 18:52] RhetTbull opened #226 "--update results in unnecessary exiftool update/touch if file edited"
If `--update --exiftool --touch-file` had been run on an image that had edits, both original and edited version are exported.   If photo is later edited again and `--update --exiftool` re-run, the new edited version is missed (issue #221 ) but also, both original and edited version get updated exiftool processing and touch file.  This appears to be because exifdata that's used for comparison inclu

[2020-10-03 16:31] RhetTbull opened #227 "On Catalina edited a .heic results in UTI being changed to public.jpeg"
If you edit a .HEIC photo in Catalina, UTI changes for `public.heic` to `public.uti`.  I don't think this is the case on Big Sur but need to confirm. Not sure yet if this is bug in `osxphotos` or this is expected behavior in Photos.

UPDATE: See this for .tiff too

[2020-10-04 15:00] RhetTbull commented on #50
Movies also include a jpeg frame grab (or heic) preview and follow same conventions as edited images for the edited preview frame.

[2020-10-04 17:06] RhetTbull opened #228 "Set up depandabot"

[2020-10-04 23:20] RhetTbull commented on #215
Status update: This is in work (see [convert_to_jpeg](https://github.com/RhetTbull/osxphotos/tree/convert_to_jpeg) branch) but has turned out to be much more difficult than I anticipated.

- The export code is pretty ugly due to all the different cases that need to be handled, `--update`, `--dry-run`, live photos, RAW photos, etc.  Someday when I'm feeling brave I'll tackle a refactor of this [bit

[2020-10-05 17:29] RhetTbull commented on #227
Add `PhotoInfo.uti_original`, `PhotoInfo.uti_edited` to disambiguate this.

[2020-10-05 17:32] RhetTbull commented on #221
Added `edited` table to `ExportDB` to catch these in convert_to_jpeg branch

[2020-10-05 22:51] neilpa commented on #225
I checked and the edited JPEGs exist on Catalina under `resources/renders/${UUID_PREFIX}/${UUID}_1_201_a.jpeg`. (Didn't check the DB though to see if that's referenced somewhere).

[2020-10-06 03:47] RhetTbull opened #229 "jpeg images are not exported if RAW+JPEG pair and jpeg is selected as master on Mojave"
On Mojave: `osxphotos export ~/Desktop/export -V` does not export the jpeg image of a RAW+JPEG pair if the RAW image is selected as original in Photos:

[code]

Also looks like the raw image is exported twice.

[2020-10-06 03:49] RhetTbull commented on #229
[code]

[2020-10-06 03:52] RhetTbull commented on #229
I'm not sure what the best way to represent these images is.  Photos treats them differently -- In Photos 4 for example, RKVersion is updated when the user selects "Use RAW as original" and Photos displays the "R" badge on the photo.  One approach might be for `osxphotos` to always treat them the same but use `PhotoInfo.raw_original` flag to indicate which is the original.  E.g. in this case:
`.pa

[2020-10-06 11:08] fokki200 opened #230 "Can't open a photo library on MacOS 10.14.6 with osxphotos"
Issue is with just one photo library, did run the Repair from the Photos.app but error still occurs.

Error when opening this particular library:

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/bin/osxphotos", line 8, in <module>
    sys.exit(cli())
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/click/core.py", li

[2020-10-06 13:25] RhetTbull opened #231 "Test test_cli.py::test_export_touch_files_exiftool_update fails on some machines"
This test fails with in correct number of touched files on some but not all machines.  I've disabled it for now but need to get it fixed.

On my primary dev machine (Catalina 10.15.6) it works but fails if I clone from github so suspect it has to do with a touch time on one of the local files (which I manipulated for the test) not being propagated to github.  `setup_touch_tests()` is supposed to a

[2020-10-06 13:36] RhetTbull commented on #230
Hi @fokki200 -- thanks for the bug report.  I'm not able to test because I don't the Photos library in question but I think I've fixed this in v0.34.5 so give it another try and let me know if it works.

[2020-10-06 16:11] fokki200 commented on #230
Thanks for the quick response.
Just installed version v0.34.5, still get an error but it is another one.

Let me know if you'd like to receive some more information!

Had a quick look myself  and  the "volume" key is missing for some photos.
Noticed that not all photos where consolidated and when trying to, some photos could not be found.. might be the reason

See below for the error logging

When

[2020-10-06 20:57] RhetTbull commented on #230
Could you try the following two sql queries and email me the results (rturnbull+git@gmail.com):

`sqlite3 Photos.photoslibrary/database/Photos.db "select RKVolume.modelId, RKVolume.name from RKVolume" > volumes.txt`

`sqlite3 Photos.photoslibrary/database/Photos.db "select Uuid, volumeID from RKMaster" > volumeid.txt`

The first should be rather short and the latter may be rather long.  This will

[2020-10-07 13:14] #231 closed

[2020-10-08 19:39] neilpa commented on #215
It should be possible to detect this (e.g. the [`MTLDevice` creation](https://github.com/neilpa/photohack/pull/3/files#diff-011877acc9b84269059a2abba367633bR91) will fail) and [fallback to a CPU-based context](https://developer.apple.com/documentation/coreimage/cicontext/1437864-contextwithcgcontext?language=objc).

[2020-10-09 05:01] RhetTbull commented on #215
Thanks.  I'd looked into that but the documentation for [CGBitmapContextCreate](https://developer.apple.com/documentation/coregraphics/1455939-cgbitmapcontextcreate?language=objc) scared me off and I wasn't sure it was worth the effort for what's likely an edge case. If I'm wrong and this affects a lot of people, I'll take a stab at figuring out how to create a bitmap context.  I configured tests

[2020-10-11 18:27] RhetTbull opened #232 "Add PhotoInfo.simple_export"
`PhotoInfo.export` (and `export2`) are not easy for a beginner who just wants to export an image.  For example, if you want the most recent (original or edited) version of a photo, you need to check `hasadjustments` before calling with `edited=True` or you'll get an error.  You could still get a `FileNotFoundError` exception if the edited version isn't on disk.  Maybe a `simple_export` (or `quick_

[2020-10-12 04:51] RhetTbull commented on #229
Fixed in v0.35.0

[2020-10-12 04:51] #229 closed

[2020-10-12 04:52] #227 closed

[2020-10-12 04:52] #224 closed

[2020-10-12 04:53] #221 closed

[2020-10-12 04:53] RhetTbull commented on #218
Fixed in convert_to_jpeg branch, v0.35.0

[2020-10-12 04:53] #218 closed

[2020-10-12 04:55] RhetTbull commented on #215
v0.35.0 adds `--convert-to-jpeg` and `--jpeg-quality` to `osxphotos export`.  These convert all non-jpeg images, including raw, to jpeg.  Will look at also adding a `--raw-to-jpeg` for just raw images later.

[2020-10-12 05:51] RhetTbull commented on #230
@fokki200   I added a partial fix in v0.35.1.  I'll need additional debugging data to do much more.  Let me know if this fixes your issue.

[2020-10-12 06:44] garz75 opened #234 "Latest version 0.35.1 misses 'py' dependency"
[code]

workaround :
[code]

[2020-10-12 13:09] RhetTbull commented on #234
@garz75 Thanks! I've fixed this in v0.35.2.  That was an interesting bug...I don't actually use the "py" module so I wondered
1) how it got there and
2) how it made it through both my test suite and the GitHub Actions automated tests that run when I do a new release.

The answer to the first question is I've been using a new [PyLance](https://marketplace.visualstudio.com/items?itemName=ms-python.v

[2020-10-12 13:09] #234 closed

[2020-10-12 15:03] #230 closed

[2020-10-15 06:44] garz75 opened #235 "export with --convert-to-jpeg fails for live photos in HEIC format"
with 0.35.1
Steps to reproduce :

- create an album 'osxphotos' with one live photo in HEIC format in it
- run command :
[code]

Expected result : the .mov file should beexported, alongside the .jpeg version of the HEIC photo.

Note that the same command succeeds with the --skip-live option :
[code]

[2020-10-15 13:16] RhetTbull opened #236 "uti_original fails for shared photos"
The method used to find `_info["UTI_original"]` fails for shared iCloud photos as they are not listed in the database.

[2020-10-15 13:42] RhetTbull commented on #235
@garz75 thanks for the comprehensive bug report.  I think I've fixed this in [v0.35.3](https://github.com/RhetTbull/osxphotos/releases/tag/v0.35.3).  I'll keep this issue open until I have time to add tests.

[2020-10-16 06:16] garz75 commented on #235
It looks like indeed that this fixed the problem. Thanks !

[2020-10-16 12:52] #222 closed

[2020-10-18 06:20] RhetTbull commented on #213
I've refactored the template code to fix this, not only for album names, but also for other substitutions such as keywords and description.

[2020-10-18 06:21] #213 closed

[2020-10-18 23:03] RhetTbull commented on #214
@Jwink3101 I've added a more comprehensive [example](https://github.com/RhetTbull/osxphotos/blob/master/examples/get_shared_photo_comments.py) to the `examples` folder that gets comments and likes along with user name and date for photos.  This will serve as the basis for future incorporation into `osxphotos` but for now should provide an easy way to get a list of comments/likes for a given photo

[2020-10-19 04:35] #235 closed

[2020-10-20 13:32] RhetTbull commented on #50
On Photos 5:

Original, 3088x2316:
`./originals/F/F88C2797-D829-495D-8FAE-517D2A00DD12.jpeg`

Thumbnail, 480x360, ends in `_4_5005_c.jpeg`:
`./resources/derivatives/masters/F/F88C2797-D829-495D-8FAE-517D2A00DD12_4_5005_c.jpeg`

Small preview, 1024x768 (always present if photo is downloaded), 1024x768, ends in `_1_105_c.jpeg`:
`./resources/derivatives/F/F88C2797-D829-495D-8FAE-517D2A00DD12_1_105_c.

[2020-10-20 13:56] RhetTbull commented on #50
For Photos 4:

There's a thumbnail and mini preview and sometimes a larger preview:
[code]

There's also sometimes a full-size render:
[code]

[2020-10-20 16:40] RhetTbull commented on #110
Make `--verbose` a multiple option so `-V -V` is equivalent to `--verbose 2` etc.

[2020-10-20 16:40] RhetTbull commented on #110
Also add a _debug option

[2020-10-20 16:58] RhetTbull commented on #111
Remove the logging from the library code and allow the CLI to configure it.

See: https://stackoverflow.com/questions/27016870/how-should-logging-be-used-in-a-python-package

[2020-10-21 05:05] #236 closed

[2020-10-21 21:09] mccarverone opened #237 "GPS location not exported with exiftool"
Hello, in the package interface I am experimenting with the `exiftool` parameter in the `export` method.

I changed the default GPS location in a photo and after exporting it with this parameter, I find that the photo still carries the original GPS location. I was wondering what the actual use is of the aforementioned parameter. Thanks

[2020-10-21 21:12] RhetTbull commented on #237
Sounds like a bug.  I'd expect this to export the updated GPS location.  I'll take a look.

[2020-10-22 02:36] RhetTbull commented on #237
I've replicated this behavior -- GPS location is not correctly being exported when `exiftool` is used.

[2020-10-22 05:35] RhetTbull commented on #237
@mccarverone  I believe this issue is fixed in [v0.35.5](https://github.com/RhetTbull/osxphotos/releases/tag/v0.35.5).  Let me know if this latest release doesn't fix the problem for you.

[2020-10-22 06:27] mccarverone commented on #237
It's perfect now, thanks

[2020-10-23 07:15] mccarverone commented on #237
Hello Rhet there is another quirky behaviour of the `exiftool` parameter: it does tag faces as keywords during export even though the `export` function was not launched with `use_persons_as_keywords`, this is not the expected behaviour in my opinion.

[2020-10-23 14:21] RhetTbull commented on #237
Are you certain it's the actual `IPTC:Keywords` field that contains the faces/persons? Looking at the code I don't see how this could happen.  The code does set `XMP:PersonInImage` to the persons and it sets `XMP:Subject` to both keywords and persons.  The reason for the latter is that is what previous versions of Photos did.  Prior to Photos 5, Photos would set `XMP:Subject` to keywords and perso

[2020-10-23 16:32] mccarverone commented on #237
Hello, thanks for the articulated answer. I confirm that I was in fact finding `XMP:Subject` and `XMP:PersonInImage` so this is not a bug. I have no preferences about this, and since this is the default Apple Photo behaviour it makes sense to mimic it.
Honestly I didn't expect pieces of information concerning people to pour in the final exported picture without explicit parameters. But it's good t

[2020-10-23 17:39] Jwink3101 commented on #214
Thanks for the update. I ended up reversing it all myself with some hints from your tools and this discussion. I am still debugging getting the actual export of the photos to work (currently doing it manually within Photos) but I have not ruled out user error. When/if I do, I will create its own ticket.

Also may try [GrannySmith](https://tyler.io/grannysmith/)

[2020-10-24 16:07] RhetTbull opened #238 "export --shared --download-missing does not download missing shared files"
To replicate:
Run `osxphotos export ~/Desktop/export --shared --download-missing`

Many images will be skipped with error:
`            f"Skipping missing {photo.original_filename}: not iCloud asset or missing from cloud"`

Even though they are shared photos in iCloud.  Additionally, it looks like images that are present on disk and in shared albums will not be exported.

[2020-10-26 03:52] #238 closed

[2020-10-26 03:54] RhetTbull opened #239 "Add PhotoInfo.owner for shared photos"
`ZGENERICASSET.ZCLOUDOWNERHASHEDPERSONID` points to `ZCLOUDSHAREDALBUMINVITATIONRECORD.ZINVITEEHASHEDPERSONID`

[2020-10-26 03:56] RhetTbull commented on #239
`ZGENERICALBUM.ZCLOUDOWNERFULLNAME`, `ZCLOUDOWNERHASHEDPERSONID`

[2020-10-26 05:21] RhetTbull commented on #214
Comments/Likes have been implemented in release [v0.36.0](https://github.com/RhetTbull/osxphotos/releases/tag/v0.36.0)

[2020-10-26 05:21] #214 closed

[2020-10-26 13:34] RhetTbull opened #240 "Add --comment/--nocomment, --like/--nolike to CLI query params"
Enable query for photos with/without comments and likes

[2020-10-26 13:46] RhetTbull opened #241 "Add comments/likes to PhotoInfo.json"

[2020-10-26 13:50] RhetTbull commented on #25
As work on osxphotos has progressed I've had to add more MacOS-specific code.  Porting this to run on other platforms would take significant work and I don't have any interest in doing this.  I'll happily consider a PR but do not plan on implementing this myself.

[2020-10-26 13:50] #25 closed

[2020-10-26 16:26] RhetTbull opened #242 "Add --finder-tag-template, --finder-comment-template to CLI"
Use [osxmetadata](https://github.com/RhetTbull/osxmetadata) to give option of adding Finder tags (for easy Spotlight searching) and Finder comments.

For example:

`osxphotos export ~/Desktop/export --finder-tag-template "{keyword}" --finder-tag-template "{person}" --finder-tag-template "{label_normalized}" --finder-comment-template "{descr}"`

[2020-10-28 16:09] RhetTbull opened #243 "Add --subject-template to CLI"
Add --subject-template to allow setting XMP:Subject to custom values

[2020-10-28 16:10] RhetTbull opened #244 "Document which fields exittool sets"
Add description of which values --exiftool actually sets to the documentation

[2020-10-28 16:13] RhetTbull opened #245 "Add indent=x arg to json() methods"
Provide ability to pass custom json indent parameters to json() methods, maybe also sort_keys and others?

[2020-10-28 16:15] RhetTbull opened #246 "Fix --uti to search all UTIs associated with image with"
--uti should search uti, uti_original, uti_raw etc

[2020-10-29 19:39] lukszar opened #247 "Wrong metadata for TIFF modified date"
Recently I found a bug (tested on version 0.36.0).
Modify Date metadata in exported photos is incorrect -- during export date is set on current date.

Problem exists for photos with .HEIC extension.
There is photo f.ex. from 2018. Not edited, original.
After export using osxphotos with --exiftool and --touch-file together, exported photo returns such metadata (using exiftool -a -G1 in terminal):

[2020-10-29 19:58] RhetTbull commented on #247
@lukszar thanks for the bug report.  Could you try the following query and let me know what is shown for "date_modified" for this photo:

`osxphotos query --from-date 2018-08-17 --to-date 2018-08-17`

This will dump info on all photos from the date in question.  You should then able to find the filename of the photo in question in the output and see which value is listed in the date_modified colum

[2020-10-29 20:08] lukszar commented on #247
@RhetTbull thank you for response.

I executed command given by you and results were empty, but I did some checking in advance by changing --to-date in your command (+1day) like following:

`osxphotos query --from-date 2018-08-17 --to-date 2018-08-18`

And it returns this photo. For confirmation I set unique title for this photo so I am 100% sure that it's the one. Results from query:

`6ITsLDRNQo

[2020-10-29 20:17] RhetTbull commented on #247
Thanks -- this is helpful.  The output shows that `osxphotos` is reporting the date modified is `2020-10-29T21:05:28.432738+02:00` which as you've noted is incorrect.  It also shows that the photo has not been edited and thus should not have a date modified.  This gives me enough information to know where to look in the code.  I'll take a look later this evening.

[2020-10-29 20:19] RhetTbull opened #248 "CSV output in CLI does not account for embedded commas (at least for persons)"

[2020-10-29 20:21] RhetTbull opened #249 "Add --filename to CLI query parameters"
This would make it easier to find information on specific photo for debugging without having to know UUID.

Should search both filename and original_filename

[2020-10-29 20:26] lukszar commented on #247
Thank you for your help and wish you luck in your work.

[2020-10-30 04:44] #240 closed

[2020-10-30 04:44] #188 closed

[2020-10-30 04:45] #144 closed

[2020-10-30 13:31] RhetTbull commented on #247
I think I've figured this out but a fix will take me a few days.

[2020-10-31 01:04] d0m1n1qu3 commented on #21
Hi,
for example pigallery2 use the metadata of the image files to show the persons/faces
so it will be cool to keep the faces, store them in the metadata and a presentation tool like pigallery2 can use them instead of refined all faces again ..

`from pigallery2 website ...
Faces (persons) support
reads Adobe's XMP Face region metadata. (It is defined by the Metadata Working Group (MWG).)`

https:

[2020-10-31 15:32] RhetTbull commented on #247
For future reference:
osxphotos was looking at `ZGENERICASSET.ZMODIFICATIONDATE` for modification date...but that turns out to be incorrect.  Photos sets this value even for photos that have not been edited.  On initial import, it is set to the file modification date.  This value then appears to be updated any time Photos makes a change to the record for that photo even if photo hasn't itself been

[2020-10-31 15:50] RhetTbull commented on #21
Thanks @d0m1n1qu3 I'll take a look at pigallery2.  Currently, the face information is written to the XMP sidecar if you use `osxphotos export /path/to/export --sidecar xmp` option but I've not been able to properly test this as I can't find an app that actually uses this information.  If pigallery2 will read the sidecars, that would help confirm I'm exporting the data correctly.

[2020-10-31 15:59] RhetTbull commented on #247
@lukszar  I think this should be fixed now for Catalina in release [v0.36.2](https://github.com/RhetTbull/osxphotos/releases/tag/v0.36.2), still working on Mojave.  Unfortunately, you'll have to do a full export again as `--update` won't catch the changed exifdata in this case.